Repository navikt/oppfolgingsplan-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

.lintstagedrc.json:

{
  "*.{md,html,css,json}": "prettier --write",
  "*.{ts,tsx}": "eslint --fix --max-warnings=0"
}

Adjust time
  .github/dependabot.yml
Due: none

Add empty reviewer
  .github/dependabot.yml
Due: none

Adjust reviewers (#319)
  .github/dependabot.yml
Due: none

Allow workflow to remove reviewer by using pull_request_target instead of pull_request
  .github/workflows/label-dependabot-pr.yaml
Due: none

Allow workflow to remove reviewer by using pull_request_target (#323)
  .github/workflows/label-dependabot-pr.yaml
Due: none

Don't automatically request review from code owners on prs with changes to package.json and package-lock.json
  .github/workflows/label-dependabot-pr.yaml
  CODEOWNERS
Due: none

Don't automatically request review from code owners on prs with changes to package.json and package-lock.json
  CODEOWNERS
Due: none

Don't automatically request review from code owners on prs with chang… (#324)
  .github/workflows/label-dependabot-pr.yaml
  CODEOWNERS
Due: none

Test that not assigned to team
  package-lock.json
  package.json
Due: prettier --write

Test that not assigned to team
  .github/workflows/label-dependabot-pr.yaml
Due: none

Remove use of 'open' package
  package-lock.json
  package.json
  src/components/arbeidsoppgaver/__tests__/ArbeidsoppgaveCard.test.tsx
  src/components/arbeidsoppgaver/__tests__/NyArbeidsoppgaveSM.test.tsx
  src/utils/test/testUtils.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Remove use of 'open' package (#343)
  package-lock.json
  package.json
  src/components/arbeidsoppgaver/__tests__/ArbeidsoppgaveCard.test.tsx
  src/components/arbeidsoppgaver/__tests__/NyArbeidsoppgaveSM.test.tsx
  src/utils/test/testUtils.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Test
  .github/workflows/label-dependabot-pr.yaml
Due: none

Add team-esyfo as reviewer on dependabot
  .github/workflows/label-dependabot-pr.yaml
Due: none

Add team-esyfo as reviewer on dependabot prs (#345)
  .github/workflows/label-dependabot-pr.yaml
Due: none

Duplicate package-ecosystems to only add team-esyfo as reviewer on major updates
  .github/dependabot.yml
Due: none

Duplicate package-ecosystems to only add team-esyfo as reviewer on ma… (#348)
  .github/dependabot.yml
Due: none

Revert "Duplicate package-ecosystems to only add team-esyfo as reviewer on ma… (#348)"
  .github/dependabot.yml
Due: none

Revert "Duplicate package-ecosystems to only add team-esyfo as review… (#349)
  .github/dependabot.yml
Due: none

Test
  package.json
Due: prettier --write
