Repository navikt/oppfolgingsplan-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

.lintstagedrc.json:

{
  "*.{md,html,css,json}": "prettier --write",
  "*.{ts,tsx}": "eslint --fix --max-warnings=0"
}

Upgrade cypress to 13.6
  package-lock.json
  package.json
Due: prettier --write

Trigger build
  README.md
Due: prettier --write

Upgrade cypress to 13.6 (#272)
  package-lock.json
  package.json
Due: prettier --write

Increase max length in tiltak beskrivelse field (#273)
  src/components/tiltak/TiltakFormAG.tsx
  src/components/tiltak/TiltakFormSM.tsx
Due: eslint --fix --max-warnings=0

Encode URL
  src/api/axios/axios.ts
Due: eslint --fix --max-warnings=0

Fix SSRF vulnerability (#274)
  src/api/axios/axios.ts
Due: eslint --fix --max-warnings=0

Add automerge of patch, minor and dev dependencies dependabot PRs
  .github/workflows/approve-dependabot.yaml
Due: none

Add newline
  .github/workflows/approve-dependabot.yaml
Due: none

Update samtalestøtte url
  src/components/blocks/samtalestotte/SamtaleStotte.tsx
Due: eslint --fix --max-warnings=0

Update samtalestøtte url (#278)
  src/components/blocks/samtalestotte/SamtaleStotte.tsx
Due: eslint --fix --max-warnings=0

Add automerge of patch, minor and dev dependencies dependabot PRs (#277)
  .github/workflows/approve-dependabot.yaml
Due: none

Add workflows for automatically approving and merging dependabot prs
  .github/workflows/approve-dependabot.yaml
  .github/workflows/label-dependabot-pr.yaml
  .github/workflows/merge-dependabot-pr.yaml
Due: none

Add workflows for automatically approving and merging dependabot prs
  .github/workflows/label-dependabot-pr.yaml
  .github/workflows/merge-dependabot-pr.yaml
Due: none

Add workflows for automatically approving and merging dependabot prs (#279)
  .github/workflows/approve-dependabot.yaml
  .github/workflows/label-dependabot-pr.yaml
  .github/workflows/merge-dependabot-pr.yaml
Due: none

Enable Dependabot Version updates
  .github/dependabot.yml
Due: none

New line
  .github/dependabot.yml
Due: none

Enable Dependabot Version updates (#280)
  .github/dependabot.yml
Due: none

Add registries to dependabot file
  .github/dependabot.yml
Due: none

Add registries to dependabot file (#281)
  .github/dependabot.yml
Due: none

Upgrade test dependencies
  jest.setup.js
  package-lock.json
  package.json
Due: prettier --write

Upgrade test dependencies
  package-lock.json
  package.json
Due: prettier --write

Upgrade @testing-library/jest-dom"
  jest.setup.js
  package-lock.json
  package.json
  src/utils/__tests__/dateUtils.test.ts
  src/utils/test/testUtils.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Run dependabot merge job more frequent until up to date
  .github/workflows/merge-dependabot-pr.yaml
Due: none

Upgrade test dependencies (#291)
  jest.setup.js
  package-lock.json
  package.json
  src/utils/__tests__/dateUtils.test.ts
  src/utils/test/testUtils.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Update lint dependencies
  package-lock.json
  package.json
Due: prettier --write

Run dependabot merge job more frequent until up to date (#292)
  .github/workflows/merge-dependabot-pr.yaml
Due: none

Update styling dependencies
  package-lock.json
  package.json
Due: prettier --write

fix edit existing text bug
  src/components/arbeidsoppgaver/ArbeidsoppgaveFormAG.tsx
  src/components/arbeidsoppgaver/ArbeidsoppgaveFormSM.tsx
  src/components/tiltak/TiltakFormAG.tsx
  src/components/tiltak/TiltakFormSM.tsx
Due: eslint --fix --max-warnings=0

Allow to run build on workflow dispatch
  .github/workflows/build-and-deploy.yaml
Due: none

Allow to run build on workflow dispatch (#296)
  .github/workflows/build-and-deploy.yaml
Due: none

Update lint dependencies (#293)
  package-lock.json
  package.json
Due: prettier --write

Update styling dependencies (#294)
  package-lock.json
  package.json
Due: prettier --write

Upgrade typescript from 4.8.3 to 5.3.2
  package-lock.json
  package.json
Due: prettier --write

Update typescript (#295)
  package-lock.json
  package.json
Due: prettier --write

Allow Dependabot to open 20 prs at same time
  .github/dependabot.yml
Due: none

Allow Dependabot to open 20 prs at same time (#298)
  .github/dependabot.yml
Due: none

fix edit existing text bug (#297)
  src/components/arbeidsoppgaver/ArbeidsoppgaveFormAG.tsx
  src/components/arbeidsoppgaver/ArbeidsoppgaveFormSM.tsx
  src/components/tiltak/TiltakFormAG.tsx
  src/components/tiltak/TiltakFormSM.tsx
Due: eslint --fix --max-warnings=0

Don't automatically add team-esyfo as reviewer
  .github/dependabot.yml
Due: none
