Repository navikt/oppfolgingsplan-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

.lintstagedrc.json:

{
  "*.{md,html,css,json}": "prettier --write",
  "*.{ts,tsx}": "eslint --fix --max-warnings=0"
}

Update app name (#205)
  nais/naiserator-demo.yaml
Due: none

Add decorator egress
  nais/naiserator-demo.yaml
  nais/naiserator-dev.yaml
  nais/naiserator-prod.yaml
Due: none

Add decorator egress (#206)
  nais/naiserator-demo.yaml
  nais/naiserator-dev.yaml
  nais/naiserator-prod.yaml
Due: none

Update dinesykmeldte demo url
  .env
Due: none

Update dinesykmeldte demo url (#207)
  .env
Due: none

Close OP-approval-notification when accessing current/most recent OP
  src/api/queries/varsel/ferdigstillingQueries.ts
  src/pages/api/varsel/ferdigstill.ts
  src/pages/arbeidsgiver/[narmestelederid]/[oppfolgingsdialogId]/index.tsx
  src/pages/sykmeldt/[oppfolgingsdialogId]/index.tsx
  src/server/service/oppfolgingsplanService.ts
  src/server/utils/errors.ts
  src/server/utils/requestUtils.ts
  src/types/varsel.ts
  src/utils/statusPageUtils.ts
Due: eslint --fix --max-warnings=0

Close OP-approval-notification when accessing current/most recent OP (#202)
  src/api/queries/varsel/ferdigstillingQueries.ts
  src/pages/api/varsel/ferdigstill.ts
  src/pages/arbeidsgiver/[narmestelederid]/[oppfolgingsdialogId]/index.tsx
  src/pages/sykmeldt/[oppfolgingsdialogId]/index.tsx
  src/server/service/oppfolgingsplanService.ts
  src/server/utils/errors.ts
  src/server/utils/requestUtils.ts
  src/types/varsel.ts
  src/utils/statusPageUtils.ts
Due: eslint --fix --max-warnings=0

Unify functionality for closing SM and AG notifications
  src/api/queries/varsel/ferdigstillingQueries.ts
  src/components/status/godkjennmottatt/GodkjennPlanMottatt.tsx
  src/pages/api/varsel/[oppfolgingsplanId]/ferdigstill.ts
  src/pages/api/varsel/ferdigstill.ts
  src/pages/arbeidsgiver/[narmestelederid]/[oppfolgingsdialogId]/index.tsx
  src/pages/sykmeldt/[oppfolgingsdialogId]/index.tsx
  src/server/service/oppfolgingsplanService.ts
  src/server/utils/errors.ts
  src/server/utils/requestUtils.ts
  src/types/varsel.ts
  src/utils/statusPageUtils.ts
Due: eslint --fix --max-warnings=0

Close notification in case of 'GodkjennPlanAvslattOgGodkjent'-scenario as well
  src/components/status/godkjennmottatt/GodkjennPlanMottatt.tsx
  src/components/status/godkjennplanavslattoggodkjent/GodkjennPlanAvslattOgGodkjent.tsx
  src/components/status/utils/varselHooks.ts
Due: eslint --fix --max-warnings=0

Remove non-used function
  src/utils/statusPageUtils.ts
Due: eslint --fix --max-warnings=0

Do not check presentation-specific variable when closing notification for a certain OP
  src/components/status/godkjennmottatt/GodkjennPlanMottatt.tsx
  src/components/status/godkjennplanavslattoggodkjent/GodkjennPlanAvslattOgGodkjent.tsx
  src/components/status/utils/varselHooks.ts
Due: eslint --fix --max-warnings=0

Remove debug log-statement
  src/pages/api/varsel/[oppfolgingsplanId]/ferdigstill.ts
Due: eslint --fix --max-warnings=0

Unify functionality for closing SM and AG notifications (#208)
  src/api/queries/varsel/ferdigstillingQueries.ts
  src/components/status/godkjennmottatt/GodkjennPlanMottatt.tsx
  src/components/status/godkjennplanavslattoggodkjent/GodkjennPlanAvslattOgGodkjent.tsx
  src/components/status/utils/varselHooks.ts
  src/pages/api/varsel/[oppfolgingsplanId]/ferdigstill.ts
  src/pages/api/varsel/ferdigstill.ts
  src/pages/arbeidsgiver/[narmestelederid]/[oppfolgingsdialogId]/index.tsx
  src/pages/sykmeldt/[oppfolgingsdialogId]/index.tsx
  src/server/service/oppfolgingsplanService.ts
  src/server/utils/errors.ts
  src/server/utils/requestUtils.ts
  src/types/varsel.ts
  src/utils/statusPageUtils.ts
Due: eslint --fix --max-warnings=0

Add nav.no egress
  nais/naiserator-prod.yaml
Due: none

Add nav.no egress (#209)
  nais/naiserator-prod.yaml
Due: none

Update dev ingress
  nais/naiserator-dev.yaml
Due: none

Update dev ingress to https://www.ekstern.dev.nav.no
  nais/naiserator-dev.yaml
Due: none

Update dev ingress (#210)
  nais/naiserator-dev.yaml
Due: none

Use service discovery for sykmeldinger arbeidsgiver
  nais/naiserator-dev.yaml
  nais/naiserator-prod.yaml
Due: none

Use service discovery for sykmeldinger arbeidsgiver (#212)
  nais/naiserator-dev.yaml
  nais/naiserator-prod.yaml
Due: none

wip
  src/components/blocks/infoboks/AdresseSperreInfoBoks.tsx
  src/components/blocks/infoboks/IkkeTilgangTilAnsattInfoBoks.tsx
  src/components/blocks/wrappers/ArbeidsgiverSide.tsx
  src/components/blocks/wrappers/SykmeldtSide.tsx
  src/pages/api/sykmeldt/tilgang/[sykmeldtFnr].ts
Due: eslint --fix --max-warnings=0

Bump @navikt/next-logger
  package-lock.json
  package.json
Due: prettier --write

Bump @navikt/next-logger (#213)
  package-lock.json
  package.json
Due: prettier --write

Tilgjengeliggjøre oppfølgingsplan for kode 6 og 7 brukere (#214)
  src/components/blocks/infoboks/AdresseSperreInfoBoks.tsx
  src/components/blocks/infoboks/IkkeTilgangTilAnsattInfoBoks.tsx
  src/components/blocks/wrappers/ArbeidsgiverSide.tsx
  src/components/blocks/wrappers/SykmeldtSide.tsx
  src/pages/api/sykmeldt/tilgang/[sykmeldtFnr].ts
Due: eslint --fix --max-warnings=0

Rewrite to GAR
  .github/workflows/deploy-dev.yaml
Due: none

Rewrite to GAR
  .github/workflows/main.yaml
Due: none

Rewrite to gar (#215)
  .github/workflows/deploy-dev.yaml
  .github/workflows/main.yaml
Due: none

Remove image env
  .github/workflows/deploy-dev.yaml
  .github/workflows/main.yaml
Due: none

Update GAR config
  .github/workflows/deploy-dev.yaml
  .github/workflows/main.yaml
Due: none

Update GAR config (#217)
  .github/workflows/deploy-dev.yaml
  .github/workflows/main.yaml
Due: none

Remove image env (#216)
  .github/workflows/deploy-dev.yaml
  .github/workflows/main.yaml
Due: none

Use common github workflow
  .env
  .env.production
  .github/workflows/build-and-deploy.yaml
  .github/workflows/demo-delete.yaml
  .github/workflows/deploy-dev.yaml
  .github/workflows/main.yaml
  Dockerfile
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  next.config.js
  package.json
  src/environments/publicEnv.ts
Due: prettier --write, eslint --fix --max-warnings=0

Use common github workflow (#218)
  .env
  .env.production
  .github/workflows/build-and-deploy.yaml
  .github/workflows/demo-delete.yaml
  .github/workflows/deploy-dev.yaml
  .github/workflows/main.yaml
  Dockerfile
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  next.config.js
  package.json
  src/environments/publicEnv.ts
Due: prettier --write, eslint --fix --max-warnings=0

Fix environment variables
  .env
  .env.development
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  package-lock.json
  src/environments/publicEnv.ts
Due: prettier --write, eslint --fix --max-warnings=0

wip
  .env
Due: none

wip
  .env.development
Due: none

Fix environment variables (#219)
  .env
  .env.development
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  package-lock.json
  src/environments/publicEnv.ts
Due: prettier --write, eslint --fix --max-warnings=0

Add Faro tracking
  next.config.js
  package-lock.json
  package.json
  src/faro/initFaro.ts
  src/pages/_app.tsx
Due: prettier --write, eslint --fix --max-warnings=0
