Repository navikt/oppfolgingsplan-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

feat: add lumi service integration
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  package-lock.json
  package.json
  src/api/queries/lumi/lumiQueries.ts
  src/components/blocks/wrappers/ArbeidsgiverSide.tsx
  src/components/lumi/pilotFeedbackSurvey.ts
  src/pages/_app.tsx
  src/pages/api/lumi/feedback.ts
  src/server/utils/serverEnv.ts
  src/utils/logUtils.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: add lumi service integration (#1719)
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  package-lock.json
  package.json
  src/api/queries/lumi/lumiQueries.ts
  src/components/blocks/icons/FilledCrossIcon.tsx
  src/components/blocks/icons/FilledWarningIcon.tsx
  src/components/blocks/wrappers/ArbeidsgiverSide.tsx
  src/components/flexjar/flexjar-arbeidsgiver.tsx
  src/components/flexjar/flexjar-sykmeldt.tsx
  src/components/flexjar/flexjar-transport.ts
  src/components/lumi/pilotFeedbackSurvey.ts
  src/pages/_app.tsx
  src/pages/api/flexjar/index.ts
  src/pages/api/lumi/feedback.ts
  src/pages/arbeidsgiver/[narmestelederid]/[oppfolgingsdialogId]/index.tsx
  src/pages/sykmeldt/[oppfolgingsdialogId]/index.tsx
  src/server/utils/serverEnv.ts
  src/utils/logUtils.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: add lumi survey on create plan for sykmeldte
  package-lock.json
  package.json
  src/api/queries/lumi/lumiQueries.ts
  src/components/blocks/wrappers/ArbeidsgiverSide.tsx
  src/components/blocks/wrappers/oppfolgingsplanpagesm/OppfolgingsplanPageSM.tsx
  src/components/lumi/pilotFeedbackSurvey.ts
  src/components/survey/surveyConfig.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: add lumi survey on create plan for sykmeldte (#1724)
  package-lock.json
  package.json
  src/api/queries/lumi/lumiQueries.ts
  src/components/blocks/wrappers/ArbeidsgiverSide.tsx
  src/components/blocks/wrappers/oppfolgingsplanpagesm/OppfolgingsplanPageSM.tsx
  src/components/lumi/pilotFeedbackSurvey.ts
  src/components/survey/surveyConfig.ts
Due: prettier --write, eslint --fix --max-warnings=0

Add deprecation banners using LocalAlert for pilot users
  src/components/blocks/infoboks/DeprecationBannerAG.tsx
  src/components/blocks/infoboks/DeprecationBannerSM.tsx
  src/components/blocks/infoboks/__tests__/DeprecationBannerAG.test.tsx
  src/components/blocks/infoboks/__tests__/DeprecationBannerSM.test.tsx
  src/components/blocks/pilotuser/PilotLinkCardAG.tsx
  src/components/blocks/pilotuser/PilotLinkCardSM.tsx
  src/components/blocks/wrappers/ArbeidsgiverSide.tsx
  src/components/blocks/wrappers/sykmeldtside/SykmeldtSide.tsx
  src/pages/arbeidsgiver/[narmestelederid]/index.tsx
  src/pages/sykmeldt/index.tsx
Due: eslint --fix --max-warnings=0

Add tests for DeprecationBannerAG and DeprecationBannerSM
  src/components/blocks/infoboks/DeprecationBannerAG.tsx
  src/components/blocks/infoboks/DeprecationBannerSM.tsx
  src/components/blocks/infoboks/__tests__/DeprecationBannerAG.test.tsx
  src/components/blocks/infoboks/__tests__/DeprecationBannerSM.test.tsx
Due: eslint --fix --max-warnings=0

Add banner for deprication (#1735)
  src/components/blocks/infoboks/DeprecationBannerAG.tsx
  src/components/blocks/infoboks/DeprecationBannerSM.tsx
  src/components/blocks/infoboks/__tests__/DeprecationBannerAG.test.tsx
  src/components/blocks/infoboks/__tests__/DeprecationBannerSM.test.tsx
  src/components/blocks/pilotuser/PilotLinkCardAG.tsx
  src/components/blocks/pilotuser/PilotLinkCardSM.tsx
  src/components/blocks/wrappers/ArbeidsgiverSide.tsx
  src/components/blocks/wrappers/sykmeldtside/SykmeldtSide.tsx
  src/pages/arbeidsgiver/[narmestelederid]/index.tsx
  src/pages/sykmeldt/index.tsx
Due: eslint --fix --max-warnings=0

chore: disable lumi surveys
  src/components/blocks/wrappers/ArbeidsgiverSide.tsx
  src/components/blocks/wrappers/oppfolgingsplanpagesm/OppfolgingsplanPageSM.tsx
Due: eslint --fix --max-warnings=0

chore: remove unused survey config
  src/components/survey/surveyConfig.ts
Due: eslint --fix --max-warnings=0

chore: disable lumi surveys (#1736)
  src/components/blocks/wrappers/ArbeidsgiverSide.tsx
  src/components/blocks/wrappers/oppfolgingsplanpagesm/OppfolgingsplanPageSM.tsx
  src/components/survey/surveyConfig.ts
Due: eslint --fix --max-warnings=0

chore: change docker image
  Dockerfile
Due: none

chore: change docker image to node:20-slim (#1738)
  Dockerfile
Due: none

chore: bump axios 1.16.0
  package-lock.json
  package.json
Due: prettier --write

chore: bump axios 1.16.0 (#1740)
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{md,html,css,json}
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
