Repository navikt/oppfolgingsplan-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

.lintstagedrc.json:

{
  "*.{md,html,css,json}": "prettier --write",
  "*.{ts,tsx}": "eslint --fix --max-warnings=0"
}

migrate from sykmeldinger-arbeidsgiver to dinesykmeldte api
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/server/auth/tokenx/getTokenXFromRequest.ts
  src/server/service/oppfolgingsplanService.ts
  src/server/utils/serverEnv.ts
Due: eslint --fix --max-warnings=0

migrate from sykmeldinger-arbeidsgiver to dinesykmeldte api (#1397)
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  src/server/auth/tokenx/getTokenXFromRequest.ts
  src/server/service/oppfolgingsplanService.ts
  src/server/utils/serverEnv.ts
Due: eslint --fix --max-warnings=0

Flexjar wip
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  package-lock.json
  package.json
  src/components/flexjar/FlexJarModal.tsx
  src/components/flexjar/HeadingSection.tsx
  src/components/flexjar/HovedSporsmal.tsx
  src/components/flexjar/TakkForTilbakemeldingen.tsx
  src/components/flexjar/flexjar.tsx
  src/components/flexjar/queryhooks/useOpprettFlexjarFeedback.ts
  src/components/status/godkjentplan/GodkjentPlan.tsx
  src/pages/api/flexjar/index.ts
  src/pages/arbeidsgiver/[narmestelederid]/index.tsx
  src/server/utils/serverEnv.ts
  src/utils/fetch.ts
  src/utils/logUtils.ts
Due: prettier --write, eslint --fix --max-warnings=0

Flexjar wip
  src/components/flexjar/FlexJarModal.tsx
  src/components/flexjar/HovedSporsmal.tsx
  src/components/flexjar/flexjar.tsx
  src/components/flexjar/queryhooks/useOpprettFlexjarFeedback.ts
  src/components/status/godkjentplan/GodkjentPlan.tsx
Due: eslint --fix --max-warnings=0

Flexjar wip
  src/components/flexjar/FlexJarModal.tsx
  src/components/flexjar/queryhooks/useOpprettFlexjarFeedback.ts
  src/pages/api/flexjar/index.ts
Due: eslint --fix --max-warnings=0

Flexjar wip
  src/components/flexjar/queryhooks/useOpprettFlexjarFeedback.ts
Due: eslint --fix --max-warnings=0

Flexjar wip
  src/components/flexjar/FlexJarModal.tsx
  src/pages/api/flexjar/index.ts
Due: eslint --fix --max-warnings=0

Add Flexjar
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  package-lock.json
  package.json
  src/components/blocks/wrappers/ArbeidsgiverSide.tsx
  src/components/flexjar/FlexJarModal.tsx
  src/components/flexjar/HeadingSection.tsx
  src/components/flexjar/TakkForTilbakemeldingen.tsx
  src/components/flexjar/emoji/EmoQuestion.tsx
  src/components/flexjar/emoji/EmojiButton.tsx
  src/components/flexjar/emoji/emo.module.css
  src/components/flexjar/emoji/emojies.tsx
  src/components/flexjar/queryhooks/useOpprettFlexjarFeedback.ts
  src/pages/api/flexjar/index.ts
  src/pages/arbeidsgiver/[narmestelederid]/index.tsx
  src/server/utils/serverEnv.ts
  src/utils/fetch.ts
  src/utils/logUtils.ts
Due: prettier --write, eslint --fix --max-warnings=0

Flexjar (#1407)
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  package-lock.json
  package.json
  src/components/blocks/wrappers/ArbeidsgiverSide.tsx
  src/components/flexjar/FlexJarModal.tsx
  src/components/flexjar/HeadingSection.tsx
  src/components/flexjar/TakkForTilbakemeldingen.tsx
  src/components/flexjar/emoji/EmoQuestion.tsx
  src/components/flexjar/emoji/EmojiButton.tsx
  src/components/flexjar/emoji/emo.module.css
  src/components/flexjar/emoji/emojies.tsx
  src/components/flexjar/queryhooks/useOpprettFlexjarFeedback.ts
  src/pages/api/flexjar/index.ts
  src/pages/arbeidsgiver/[narmestelederid]/index.tsx
  src/server/utils/serverEnv.ts
  src/utils/fetch.ts
  src/utils/logUtils.ts
Due: prettier --write, eslint --fix --max-warnings=0

Add Flexjar for sykmeldte
  src/components/blocks/wrappers/ArbeidsgiverSide.tsx
  src/components/blocks/wrappers/sykmeldtside/SykmeldtSide.tsx
  src/components/flexjar/FlexJarModal.tsx
  src/components/flexjar/FlexJarTextAreaQuestion.tsx
  src/pages/api/flexjar/index.ts
  src/pages/sykmeldt/index.tsx
Due: eslint --fix --max-warnings=0

Add Flexjar for sykmeldte
  src/components/flexjar/HeadingSection.tsx
Due: eslint --fix --max-warnings=0

Flexjar for sykmeldte (#1411)
  src/components/blocks/wrappers/ArbeidsgiverSide.tsx
  src/components/blocks/wrappers/sykmeldtside/SykmeldtSide.tsx
  src/components/flexjar/FlexJarModal.tsx
  src/components/flexjar/FlexJarTextAreaQuestion.tsx
  src/components/flexjar/HeadingSection.tsx
  src/pages/api/flexjar/index.ts
  src/pages/sykmeldt/index.tsx
Due: eslint --fix --max-warnings=0

Improve emoji styling for flexjar
  src/components/flexjar/emoji/EmoQuestion.tsx
  src/components/flexjar/emoji/emo.module.css
Due: prettier --write, eslint --fix --max-warnings=0

Improve emoji styling for flexjar (#1412)
  src/components/flexjar/emoji/EmoQuestion.tsx
  src/components/flexjar/emoji/emo.module.css
Due: prettier --write, eslint --fix --max-warnings=0

Remove flexjar
  src/components/blocks/wrappers/ArbeidsgiverSide.tsx
  src/components/blocks/wrappers/sykmeldtside/SykmeldtSide.tsx
  src/pages/arbeidsgiver/[narmestelederid]/index.tsx
  src/pages/sykmeldt/index.tsx
  src/server/service/oppfolgingsplanService.ts
Due: eslint --fix --max-warnings=0

Remove flexjar (#1421)
  src/components/blocks/wrappers/ArbeidsgiverSide.tsx
  src/components/blocks/wrappers/sykmeldtside/SykmeldtSide.tsx
  src/pages/arbeidsgiver/[narmestelederid]/index.tsx
  src/pages/sykmeldt/index.tsx
  src/server/service/oppfolgingsplanService.ts
Due: eslint --fix --max-warnings=0

Fix wrong url
  src/server/service/oppfolgingsplanService.ts
Due: eslint --fix --max-warnings=0

Fix wrong url (#1424)
  src/server/service/oppfolgingsplanService.ts
Due: eslint --fix --max-warnings=0

Add grafana logging
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: none

Add grafana logging (#1442)
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: none

Upgrade next patch version
  package-lock.json
  package.json
Due: prettier --write

Upgrade from image in Dockerfile to distroless nodejs22
  Dockerfile
Due: none

Upgrade next patch version (#1465)
  Dockerfile
  package-lock.json
  package.json
Due: prettier --write

Adding React as prefix to JSX needed by React 19 upgrade
  cypress/utils/mountWithMocks.tsx
  src/components/blocks/error/PageError.tsx
  src/components/blocks/sidemenu/ArbeidsgiverSideMenu.tsx
Due: eslint --fix --max-warnings=0

Add UX Signals panel to sykmeldt godkjenning screen
  src/components/status/GodkjennOppfolgingsplan.tsx
  src/components/ux-signals/UxSignalsPanel.tsx
  src/hooks/useUxSignals.ts
Due: eslint --fix --max-warnings=0

Add UX Signals panel to sykmeldt godkjenning screen (#1543)
  src/components/status/GodkjennOppfolgingsplan.tsx
  src/components/ux-signals/UxSignalsPanel.tsx
  src/hooks/useUxSignals.ts
Due: eslint --fix --max-warnings=0

Only show UX Signals panel for sykmeldte brukere
  src/components/status/GodkjennOppfolgingsplan.tsx
  src/components/ux-signals/UxSignalsPanel.tsx
Due: eslint --fix --max-warnings=0

Fix to only show UX Signals panel for sykmeldte brukere (#1550)
  src/components/status/GodkjennOppfolgingsplan.tsx
  src/components/ux-signals/UxSignalsPanel.tsx
Due: eslint --fix --max-warnings=0

fix 81: dead links in oppfølgingsplaner
  src/components/blocks/infoboks/OppfolgingsdialogerInfoPersonvern.tsx
  src/pages/arbeidsgiver/[narmestelederid]/index.tsx
  src/pages/sykmeldt/index.tsx
Due: eslint --fix --max-warnings=0

chore: run prettier
  src/components/blocks/infoboks/OppfolgingsdialogerInfoPersonvern.tsx
Due: eslint --fix --max-warnings=0

fix 81: dead links in oppfølgingsplaner (#1659)
  src/components/blocks/infoboks/OppfolgingsdialogerInfoPersonvern.tsx
  src/pages/arbeidsgiver/[narmestelederid]/index.tsx
  src/pages/sykmeldt/index.tsx
Due: eslint --fix --max-warnings=0

Bump aksel
  .eslintrc.json
  eslint.config.js
  next.config.js
  package-lock.json
  package.json
  src/components/blocks/stepper/OppfolgingsplanStepper.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Bump aksel
  next.config.js
Due: none

wip
  Dockerfile
  package.json
Due: prettier --write

Bump aksel (#1667)
  .eslintrc.json
  Dockerfile
  eslint.config.js
  next.config.js
  package-lock.json
  package.json
  src/components/blocks/stepper/OppfolgingsplanStepper.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Add flexjar survey
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/components/flexjar/FlexJarModal.tsx
  src/components/flexjar/FlexJarTextAreaQuestion.tsx
  src/components/flexjar/TakkForTilbakemeldingen.tsx
  src/components/flexjar/emoji/EmoQuestion.tsx
  src/components/flexjar/emoji/EmojiButton.tsx
  src/components/flexjar/emoji/emo.module.css
  src/components/flexjar/emoji/emojies.tsx
  src/components/flexjar/flexjar-arbeidsgiver.tsx
  src/components/flexjar/flexjar-sykmeldt.tsx
  src/components/flexjar/flexjar-transport.ts
  src/components/flexjar/queryhooks/useOpprettFlexjarFeedback.ts
  src/components/landing/teaser/sykmeldt/OppfolgingsdialogerVisningSM.tsx
  src/components/status/godkjennplansendt/GodkjennPlanSendt.tsx
  src/pages/_app.tsx
  src/pages/api/flexjar/index.ts
  src/pages/arbeidsgiver/[narmestelederid]/[oppfolgingsdialogId]/index.tsx
Due: prettier --write, eslint --fix --max-warnings=0

wip
  package-lock.json
  package.json
  src/components/flexjar/flexjar-sykmeldt.tsx
  src/components/landing/teaser/sykmeldt/OppfolgingsdialogerVisningSM.tsx
  src/pages/sykmeldt/[oppfolgingsdialogId]/index.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Add flexjar (#1670)
  package-lock.json
  package.json
  public/mockServiceWorker.js
  src/components/flexjar/FlexJarModal.tsx
  src/components/flexjar/FlexJarTextAreaQuestion.tsx
  src/components/flexjar/TakkForTilbakemeldingen.tsx
  src/components/flexjar/emoji/EmoQuestion.tsx
  src/components/flexjar/emoji/EmojiButton.tsx
  src/components/flexjar/emoji/emo.module.css
  src/components/flexjar/emoji/emojies.tsx
  src/components/flexjar/flexjar-arbeidsgiver.tsx
  src/components/flexjar/flexjar-sykmeldt.tsx
  src/components/flexjar/flexjar-transport.ts
  src/components/flexjar/queryhooks/useOpprettFlexjarFeedback.ts
  src/components/status/godkjennplansendt/GodkjennPlanSendt.tsx
  src/pages/_app.tsx
  src/pages/api/flexjar/index.ts
  src/pages/arbeidsgiver/[narmestelederid]/[oppfolgingsdialogId]/index.tsx
  src/pages/sykmeldt/[oppfolgingsdialogId]/index.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Enable pilot linkcard for dev/local/demo
  .env.development
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  src/api/queries/arbeidsgiver/pilotQueriesAG.ts
  src/api/queries/queryKeys.ts
  src/api/queries/sykmeldt/pilotQueriesSM.ts
  src/components/blocks/pilotuser/PilotLinkCard.tsx
  src/components/blocks/pilotuser/PilotLinkCardAG.tsx
  src/components/blocks/pilotuser/PilotLinkCardSM.tsx
  src/components/blocks/testscenarioselector/TestScenarioSelector.tsx
  src/components/blocks/wrappers/ArbeidsgiverSide.tsx
  src/components/blocks/wrappers/sykmeldtside/SykmeldtSide.tsx
  src/environments/publicEnv.ts
  src/pages/api/arbeidsgiver/pilot/index.ts
  src/pages/api/sykmeldt/pilot/index.ts
  src/schema/personSchemas.ts
  src/server/data/mock/activeMockData.ts
  src/server/data/mock/defaultData/oppfolgingsplanservice/defaultPersonMockData.ts
  src/server/data/mock/getMockDb.ts
  src/server/data/mock/testscenarios/isPilotUser/pilotUserScenario.ts
  src/utils/logUtils.ts
Due: eslint --fix --max-warnings=0
