Repository navikt/oppfolgingsplan-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

.lintstagedrc.json:

{
  "*.{md,html,css,json}": "prettier --write",
  "*.{ts,tsx}": "eslint --fix --max-warnings=0"
}

Improve E2E tests
  .eslintrc.json
  .github/workflows/main.yaml
  cypress.config.ts
  cypress/README.md
  cypress/dataTestId.ts
  cypress/e2e/sykmeldt/create-new-plan-happy-case.cy.ts
  cypress/e2e/sykmeldt/page-statuses.cy.ts
  cypress/support/commands.ts
  cypress/support/component-index.html
  cypress/support/component.ts
  cypress/tsconfig.json
  cypress/utils/interceptDataApis.ts
  cypress/utils/mountWithMocks.tsx
  package-lock.json
  package.json
  src/components/arbeidsoppgaver/ArbeidsoppgaveCard.cy.tsx
  src/components/arbeidsoppgaver/ArbeidsoppgaveCard.tsx
  src/components/arbeidsoppgaver/ArbeidsoppgaveFormSM.tsx
  src/components/arbeidsoppgaver/NyArbeidsoppgaveSM.cy.tsx
  src/components/arbeidsoppgaver/NyArbeidsoppgaveSM.tsx
  src/components/arbeidsoppgaver/SlettArbeidsoppgaveButton.tsx
  src/components/blocks/buttons/NavigationButtons.tsx
  src/components/blocks/datepicker/Datepicker.tsx
  src/components/blocks/testscenarioselector/TestScenarioSelector.tsx
  src/components/landing/opprett/OpprettModalAG.tsx
  src/components/landing/opprett/OpprettModalSM.tsx
  src/components/seplanen/OppfolgingsplanPanel.tsx
  src/components/seplanen/sendtilgodkjenning/SendTilGodkjenningForm.tsx
  src/components/seplanen/sendtilgodkjenning/SendTilGodkjenningToggle.tsx
  src/components/tiltak/NyttTiltak.tsx
  src/components/tiltak/SlettTiltakButton.tsx
  src/components/tiltak/TiltakFormAG.tsx
  src/components/tiltak/TiltakFormSM.tsx
  src/components/tiltak/TiltakStartSluttDato.tsx
  src/pages/_app.tsx
  src/pages/_document.tsx
  src/pages/sykmeldt/[oppfolgingsdialogId]/arbeidsoppgaver.cy.tsx
  src/server/utils/serverEnv.ts
  src/utils/dateUtils.ts
  tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0

Refactor inferred dto schema names
  src/api/queries/sykmeldt/narmesteLedereQueriesSM.ts
  src/api/queries/sykmeldt/sykmeldingerQueriesSM.ts
  src/components/landing/OppfolgingsplanContent.tsx
  src/components/landing/teaser/OppfolgingsdialogerVisning.tsx
  src/components/seplanen/ArbeidsgiverInfo.tsx
  src/components/status/godkjentplan/BothApprovedOppfolgingsplan.tsx
  src/pages/api/oppfolgingsplan/[oppfolgingsplanId]/arbeidsoppgave/[arbeidsoppgaveId]/slett.ts
  src/pages/api/oppfolgingsplan/[oppfolgingsplanId]/arbeidsoppgave/lagre.ts
  src/pages/api/sykmeldt/oppfolgingsplaner/[oppfolgingsplanId]/oppgave/[arbeidsoppgaveId]/slett.ts
  src/pages/api/sykmeldt/sykmeldinger/index.ts
  src/schema/narmestelederSchema.ts
  src/schema/oppfolgingsplanSchema.ts
  src/schema/sykmeldingSchema.ts
  src/server/data/mapping/findName.ts
  src/server/data/mock/defaultData/oppfolgingsplanservice/defaultSykmeldingerMockData.ts
  src/server/data/mock/getMockDb.ts
  src/server/types/OppfolgingsplanMeta.ts
  src/types/oppfolgingsplan.ts
  src/utils/oppfolgingplanUtils.ts
  src/utils/sykmeldingUtils.ts
Due: eslint --fix --max-warnings=0

Add mock factories and fixtures
  src/mocks/data/constants.ts
  src/mocks/data/factories/oppfolgingsplan.ts
  src/mocks/data/factories/oppfolgingsplanDTO.ts
  src/mocks/data/factories/sykmeldingDTO.ts
  src/mocks/data/fixtures/arbeidsoppgave.ts
  src/mocks/data/fixtures/person.ts
  src/mocks/data/fixtures/personDTO.ts
Due: eslint --fix --max-warnings=0

Add mock service worker
  package-lock.json
  package.json
  src/mocks/handlers.ts
  src/mocks/testServer.ts
  src/mocks/worker.ts
Due: prettier --write, eslint --fix --max-warnings=0

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

[Snyk] Security upgrade styled-components from 5.3.5 to 5.3.7 (#197)
  package-lock.json
  package.json
Due: prettier --write

wip
  .github/workflows/main.yaml
  cypress/e2e/sykmeldt/create-new-plan-happy-case.cy.ts
Due: eslint --fix --max-warnings=0

wip
  next.config.js
  package.json
Due: prettier --write

wip
  cypress/tsconfig.json
  tsconfig.json
Due: prettier --write

wip
  .github/workflows/main.yaml
Due: none

Add mock service worker (#196)
  package-lock.json
  package.json
  src/api/queries/sykmeldt/narmesteLedereQueriesSM.ts
  src/api/queries/sykmeldt/sykmeldingerQueriesSM.ts
  src/components/landing/OppfolgingsplanContent.tsx
  src/components/landing/teaser/OppfolgingsdialogerVisning.tsx
  src/components/seplanen/ArbeidsgiverInfo.tsx
  src/components/status/godkjentplan/BothApprovedOppfolgingsplan.tsx
  src/mocks/data/constants.ts
  src/mocks/data/factories/oppfolgingsplan.ts
  src/mocks/data/factories/oppfolgingsplanDTO.ts
  src/mocks/data/factories/sykmeldingDTO.ts
  src/mocks/data/fixtures/arbeidsoppgave.ts
  src/mocks/data/fixtures/person.ts
  src/mocks/data/fixtures/personDTO.ts
  src/mocks/handlers.ts
  src/mocks/testServer.ts
  src/mocks/worker.ts
  src/pages/api/oppfolgingsplan/[oppfolgingsplanId]/arbeidsoppgave/[arbeidsoppgaveId]/slett.ts
  src/pages/api/oppfolgingsplan/[oppfolgingsplanId]/arbeidsoppgave/lagre.ts
  src/pages/api/sykmeldt/oppfolgingsplaner/[oppfolgingsplanId]/oppgave/[arbeidsoppgaveId]/slett.ts
  src/pages/api/sykmeldt/sykmeldinger/index.ts
  src/schema/narmestelederSchema.ts
  src/schema/oppfolgingsplanSchema.ts
  src/schema/sykmeldingSchema.ts
  src/server/data/mapping/findName.ts
  src/server/data/mock/defaultData/oppfolgingsplanservice/defaultSykmeldingerMockData.ts
  src/server/data/mock/getMockDb.ts
  src/server/types/OppfolgingsplanMeta.ts
  src/types/oppfolgingsplan.ts
  src/utils/oppfolgingplanUtils.ts
  src/utils/sykmeldingUtils.ts
Due: prettier --write, eslint --fix --max-warnings=0

wip
  cypress/README.md
  package.json
  src/pages/_document.tsx
  src/server/utils/serverEnv.ts
Due: prettier --write, eslint --fix --max-warnings=0

wip
  cypress/tsconfig.json
  src/components/arbeidsoppgaver/ArbeidsoppgaveFormSM.tsx
  src/components/arbeidsoppgaver/NyArbeidsoppgaveSM.tsx
  src/components/blocks/buttons/NavigationButtons.tsx
  src/components/seplanen/OppfolgingsplanPanel.tsx
  src/components/seplanen/sendtilgodkjenning/SendTilGodkjenningForm.tsx
  src/components/tiltak/NyttTiltak.tsx
  src/components/tiltak/TiltakFormAG.tsx
  src/components/tiltak/TiltakFormSM.tsx
  src/pages/_document.tsx
  src/pages/sykmeldt/[oppfolgingsdialogId]/arbeidsoppgaver.cy.tsx
  tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0

wip
  cypress/support/commands.ts
  cypress/support/component.ts
  cypress/support/index.d.ts
  cypress/tsconfig.json
  src/utils/__tests__/dateUtils.test.ts
  tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0

Move initiation of element modal to be mounted on to _app
  src/components/arbeidsoppgaver/SlettArbeidsoppgaveButton.tsx
  src/components/blocks/testscenarioselector/TestScenarioSelector.tsx
  src/components/landing/opprett/OpprettModalAG.tsx
  src/components/landing/opprett/OpprettModalSM.tsx
  src/components/tiltak/SlettTiltakButton.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
Due: eslint --fix --max-warnings=0

Move initiation of element modal to be mounted on to _app (#198)
  src/components/arbeidsoppgaver/SlettArbeidsoppgaveButton.tsx
  src/components/blocks/testscenarioselector/TestScenarioSelector.tsx
  src/components/landing/opprett/OpprettModalAG.tsx
  src/components/landing/opprett/OpprettModalSM.tsx
  src/components/tiltak/SlettTiltakButton.tsx
  src/pages/_app.tsx
  src/pages/index.tsx
Due: eslint --fix --max-warnings=0

Fix testscenario selector
  src/pages/api/scenario/activescenario.ts
Due: eslint --fix --max-warnings=0

Fix testscenario selector (#201)
  src/pages/api/scenario/activescenario.ts
Due: eslint --fix --max-warnings=0

Add test utils and tests using msw
  .eslintrc.json
  jest.setup.js
  src/components/arbeidsoppgaver/__tests__/ArbeidsoppgaveCard.test.tsx
  src/components/arbeidsoppgaver/__tests__/NyArbeidsoppgaveSM.test.tsx
  src/utils/test/testUtils.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Add test utils and tests using msw (#199)
  .eslintrc.json
  jest.setup.js
  src/components/arbeidsoppgaver/__tests__/ArbeidsoppgaveCard.test.tsx
  src/components/arbeidsoppgaver/__tests__/NyArbeidsoppgaveSM.test.tsx
  src/utils/test/testUtils.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Add Cypress component tests
  .eslintrc.json
  .github/workflows/main.yaml
  cypress.config.ts
  cypress/README.md
  cypress/dataTestId.ts
  cypress/e2e/sykmeldt/page-statuses.cy.ts
  cypress/support/commands.ts
  cypress/support/component-index.html
  cypress/support/component.ts
  cypress/support/index.d.ts
  cypress/tsconfig.json
  cypress/utils/interceptDataApis.ts
  cypress/utils/mountWithMocks.tsx
  next.config.js
  package-lock.json
  package.json
  src/components/arbeidsoppgaver/ArbeidsoppgaveCard.cy.tsx
  src/components/arbeidsoppgaver/ArbeidsoppgaveCard.tsx
  src/components/arbeidsoppgaver/ArbeidsoppgaveFormSM.tsx
  src/components/arbeidsoppgaver/NyArbeidsoppgaveSM.cy.tsx
  src/components/arbeidsoppgaver/NyArbeidsoppgaveSM.tsx
  src/components/blocks/buttons/NavigationButtons.tsx
  src/components/blocks/datepicker/Datepicker.tsx
  src/components/seplanen/OppfolgingsplanPanel.tsx
  src/components/seplanen/sendtilgodkjenning/SendTilGodkjenningForm.tsx
  src/components/seplanen/sendtilgodkjenning/SendTilGodkjenningToggle.tsx
  src/components/tiltak/NyttTiltak.tsx
  src/components/tiltak/TiltakFormAG.tsx
  src/components/tiltak/TiltakFormSM.tsx
  src/components/tiltak/TiltakStartSluttDato.tsx
  src/pages/_app.tsx
  src/pages/sykmeldt/[oppfolgingsdialogId]/arbeidsoppgaver.cy.tsx
  src/utils/__tests__/dateUtils.test.ts
  src/utils/dateUtils.ts
  tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0

Rewrite to mockrouter lib
  cypress/support/index.d.ts
  cypress/utils/mountWithMocks.tsx
  next.config.js
  package-lock.json
  package.json
  src/components/arbeidsoppgaver/ArbeidsoppgaveCard.cy.tsx
  src/components/arbeidsoppgaver/NyArbeidsoppgaveSM.cy.tsx
  src/pages-tests/sykmeldt/[oppfolgingsdialogId]/arbeidsoppgaver.cy.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Remote eslint plugin
  .eslintrc.json
Due: prettier --write

Remote eslint plugin
  src/utils/test/testUtils.tsx
Due: eslint --fix --max-warnings=0

Hm
  tsconfig.json
Due: prettier --write

Hm
  jestGlobals.ts
  src/components/arbeidsoppgaver/__tests__/ArbeidsoppgaveCard.test.tsx
Due: eslint --fix --max-warnings=0

Hm
  src/components/arbeidsoppgaver/__tests__/NyArbeidsoppgaveSM.test.tsx
Due: eslint --fix --max-warnings=0

Add Cypress component tests (#200)
  .eslintrc.json
  .github/workflows/main.yaml
  cypress.config.ts
  cypress/README.md
  cypress/dataTestId.ts
  cypress/e2e/sykmeldt/page-statuses.cy.ts
  cypress/support/commands.ts
  cypress/support/component-index.html
  cypress/support/component.ts
  cypress/support/index.d.ts
  cypress/tsconfig.json
  cypress/utils/interceptDataApis.ts
  cypress/utils/mountWithMocks.tsx
  jestGlobals.ts
  package-lock.json
  package.json
  src/components/arbeidsoppgaver/ArbeidsoppgaveCard.cy.tsx
  src/components/arbeidsoppgaver/ArbeidsoppgaveCard.tsx
  src/components/arbeidsoppgaver/ArbeidsoppgaveFormSM.tsx
  src/components/arbeidsoppgaver/NyArbeidsoppgaveSM.cy.tsx
  src/components/arbeidsoppgaver/NyArbeidsoppgaveSM.tsx
  src/components/arbeidsoppgaver/__tests__/ArbeidsoppgaveCard.test.tsx
  src/components/arbeidsoppgaver/__tests__/NyArbeidsoppgaveSM.test.tsx
  src/components/blocks/buttons/NavigationButtons.tsx
  src/components/blocks/datepicker/Datepicker.tsx
  src/components/seplanen/OppfolgingsplanPanel.tsx
  src/components/seplanen/sendtilgodkjenning/SendTilGodkjenningForm.tsx
  src/components/seplanen/sendtilgodkjenning/SendTilGodkjenningToggle.tsx
  src/components/tiltak/NyttTiltak.tsx
  src/components/tiltak/TiltakFormAG.tsx
  src/components/tiltak/TiltakFormSM.tsx
  src/components/tiltak/TiltakStartSluttDato.tsx
  src/pages-tests/sykmeldt/[oppfolgingsdialogId]/arbeidsoppgaver.cy.tsx
  src/pages/_app.tsx
  src/utils/__tests__/dateUtils.test.ts
  src/utils/dateUtils.ts
  src/utils/test/testUtils.tsx
  tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0

Add predicates for runtime env and update ditt sykefravaer dev and demo url
  .env
  .env.development
  nais/naiserator-dev.yaml
  nais/naiserator-labs.yaml
  nais/naiserator-prod.yaml
  src/environments/publicEnv.ts
  src/pages/_document.tsx
  src/server/utils/serverEnv.ts
Due: eslint --fix --max-warnings=0

Add predicates for runtime env and update ditt sykefravaer urls (#203)
  .env
  .env.development
  nais/naiserator-dev.yaml
  nais/naiserator-labs.yaml
  nais/naiserator-prod.yaml
  src/environments/publicEnv.ts
  src/pages/_document.tsx
  src/server/utils/serverEnv.ts
Due: eslint --fix --max-warnings=0

Move demo app to dev-gcp
  .env
  .github/workflows/main.yaml
  nais/naiserator-demo.yaml
  src/environments/publicEnv.ts
Due: eslint --fix --max-warnings=0

Move demo app to dev-gcp (#204)
  .env
  .github/workflows/main.yaml
  nais/naiserator-demo.yaml
  src/environments/publicEnv.ts
Due: eslint --fix --max-warnings=0

Update app name
  nais/naiserator-demo.yaml
Due: none
