Repository navikt/oppfolgingsplan-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

.lintstagedrc.json:

{
  "*.{md,html,css,json}": "prettier --write",
  "*.{ts,tsx}": "eslint --fix --max-warnings=0"
}

Enable pilot linkcard for dev/local/demo
  src/components/blocks/pilotuser/PilotLinkCard.tsx
  src/components/blocks/pilotuser/PilotLinkCardAG.tsx
  src/components/blocks/pilotuser/PilotLinkCardSM.tsx
Due: eslint --fix --max-warnings=0

Add background color
  src/components/blocks/pilotuser/PilotLinkCardAG.tsx
Due: eslint --fix --max-warnings=0

Deploy only to dev on PR
  .github/workflows/build-and-deploy.yaml
Due: none

Upgrade nodejs to 24
  Dockerfile
Due: none

Upgrade next-logger to 4.4.1
  package-lock.json
  package.json
Due: prettier --write

Update text
  src/components/blocks/pilotuser/PilotLinkCardAG.tsx
Due: eslint --fix --max-warnings=0

Enable pilot linkcard for dev/local/demo (#1682)
  .env.development
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  src/api/queries/arbeidsgiver/pilotQueriesAG.ts
  src/api/queries/queryKeys.ts
  src/api/queries/sykmeldt/pilotQueriesSM.ts
  src/components/blocks/pilotuser/PilotLinkCardAG.tsx
  src/components/blocks/pilotuser/PilotLinkCardSM.tsx
  src/components/blocks/testscenarioselector/TestScenarioSelector.tsx
  src/components/blocks/wrappers/ArbeidsgiverSide.tsx
  src/components/blocks/wrappers/sykmeldtside/SykmeldtSide.tsx
  src/environments/publicEnv.ts
  src/pages/api/arbeidsgiver/pilot/index.ts
  src/pages/api/sykmeldt/pilot/index.ts
  src/schema/personSchemas.ts
  src/server/data/mock/activeMockData.ts
  src/server/data/mock/defaultData/oppfolgingsplanservice/defaultPersonMockData.ts
  src/server/data/mock/getMockDb.ts
  src/server/data/mock/testscenarios/isPilotUser/pilotUserScenario.ts
  src/utils/logUtils.ts
Due: eslint --fix --max-warnings=0

chore: bump next-logger
  additional.d.ts
  package-lock.json
  package.json
  src/components/blocks/error/FormErrorSummary.tsx
  src/pages/api/logger.ts
  tsconfig.json
Due: prettier --write, eslint --fix --max-warnings=0

feat: dependabot cooldown config
  .github/dependabot.yml
Due: none

feat: dependabot cooldown config (#1687)
  .github/dependabot.yml
Due: none

Update next
  package-lock.json
  package.json
Due: prettier --write

Security update (#1695)
  package-lock.json
  package.json
Due: prettier --write

Fix pilot url for SM
  src/environments/publicEnv.ts
Due: eslint --fix --max-warnings=0

Fix pilot url for SM (#1696)
  src/environments/publicEnv.ts
Due: eslint --fix --max-warnings=0

Kremt
  .env.development
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
Due: none

Fix pilot url (#1697)
  .env.development
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
Due: none

Update url
  .env.development
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  src/components/blocks/pilotuser/PilotLinkCardSM.tsx
  src/environments/publicEnv.ts
Due: eslint --fix --max-warnings=0

Update url (#1698)
  .env.development
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  src/components/blocks/pilotuser/PilotLinkCardSM.tsx
  src/environments/publicEnv.ts
Due: eslint --fix --max-warnings=0

enable pilot in prod
  src/components/blocks/pilotuser/PilotLinkCardAG.tsx
Due: eslint --fix --max-warnings=0

enable pilot in prod for SM
  src/components/blocks/pilotuser/PilotLinkCardSM.tsx
Due: eslint --fix --max-warnings=0

enable pilot in prod (#1699)
  src/components/blocks/pilotuser/PilotLinkCardAG.tsx
  src/components/blocks/pilotuser/PilotLinkCardSM.tsx
Due: eslint --fix --max-warnings=0

Enable plan for sunnhordaland, and fix color for SM pilotcard
  src/components/blocks/pilotuser/PilotLinkCardAG.tsx
  src/components/blocks/pilotuser/PilotLinkCardSM.tsx
Due: eslint --fix --max-warnings=0

Enable plan for sunnhordaland, and fix color for SM pilotcard (#1701)
  src/components/blocks/pilotuser/PilotLinkCardAG.tsx
  src/components/blocks/pilotuser/PilotLinkCardSM.tsx
Due: eslint --fix --max-warnings=0

Restyle pilotcard: In your face version
  src/components/blocks/pilotuser/PilotLinkCardAG.tsx
  src/components/blocks/pilotuser/PilotLinkCardSM.tsx
  src/components/blocks/wrappers/ArbeidsgiverSide.tsx
  src/components/blocks/wrappers/sykmeldtside/SykmeldtSide.tsx
  src/pages/arbeidsgiver/[narmestelederid]/index.tsx
  src/pages/sykmeldt/index.tsx
Due: eslint --fix --max-warnings=0

Restyle pilotcard: In your face version (#1702)
  src/components/blocks/pilotuser/PilotLinkCardAG.tsx
  src/components/blocks/pilotuser/PilotLinkCardSM.tsx
  src/components/blocks/wrappers/ArbeidsgiverSide.tsx
  src/components/blocks/wrappers/sykmeldtside/SykmeldtSide.tsx
  src/pages/arbeidsgiver/[narmestelederid]/index.tsx
  src/pages/sykmeldt/index.tsx
Due: eslint --fix --max-warnings=0

update dine sykmeldte demo url
  nais/envs/.env.demo
Due: none

Update dine sykmeldte demo url
  nais/envs/.env.demo
Due: none

Update dine sykmeldte demo url (#1703)
  nais/envs/.env.demo
Due: none

Upgrade minor version of pino
  package-lock.json
  package.json
Due: prettier --write

Upgrade to node 24
  Dockerfile
  package-lock.json
  package.json
Due: prettier --write

Use feature branch for build
  .github/workflows/build-and-deploy.yaml
Due: none

Use main version of next-app workflow again
  .github/workflows/build-and-deploy.yaml
Due: none

chore: sync copilot config from esyfo-cli [docs]
  .github/copilot-instructions.md
  .github/instructions/auth.instructions.md
  .github/instructions/frontend.instructions.md
  .github/instructions/nais.instructions.md
  .github/instructions/observability.instructions.md
  .github/instructions/security.instructions.md
  .github/instructions/testing-typescript.instructions.md
  .github/instructions/typescript.instructions.md
  .github/prompts/nais-manifest.prompt.md
  .github/skills/observability-setup/SKILL.md
Due: prettier --write

feat: update to aksel v8
  package-lock.json
  package.json
  src/components/arbeidsoppgaver/CustomAlertWithoutIcon.tsx
  src/components/arbeidsoppgaver/SlettArbeidsoppgaveButton.tsx
  src/components/blocks/error/error.module.css
  src/components/blocks/icons/FilledCheckmarkIcon.tsx
  src/components/blocks/icons/FilledCrossIcon.tsx
  src/components/blocks/icons/FilledWarningIcon.tsx
  src/components/blocks/pilotuser/PilotLinkCardAG.tsx
  src/components/blocks/pilotuser/PilotLinkCardSM.tsx
  src/components/status/godkjentplan/AvbrytPlanKnapp.tsx
  src/components/tiltak/LagretTiltak.tsx
  src/components/tiltak/SlettTiltakButton.tsx
  src/styles/globals.css
  tailwind.config.js
Due: prettier --write, eslint --fix --max-warnings=0

feat: update to sidemeny v8
  package-lock.json
  package.json
  src/components/blocks/pilotuser/PilotLinkCardAG.tsx
  src/pages/_app.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat: update to aksel v8 (#1718)
  package-lock.json
  package.json
  src/components/arbeidsoppgaver/CustomAlertWithoutIcon.tsx
  src/components/arbeidsoppgaver/SlettArbeidsoppgaveButton.tsx
  src/components/blocks/error/error.module.css
  src/components/blocks/icons/FilledCheckmarkIcon.tsx
  src/components/blocks/icons/FilledCrossIcon.tsx
  src/components/blocks/icons/FilledWarningIcon.tsx
  src/components/blocks/pilotuser/PilotLinkCardAG.tsx
  src/components/blocks/pilotuser/PilotLinkCardSM.tsx
  src/components/status/godkjentplan/AvbrytPlanKnapp.tsx
  src/components/tiltak/LagretTiltak.tsx
  src/components/tiltak/SlettTiltakButton.tsx
  src/pages/_app.tsx
  src/styles/globals.css
  tailwind.config.js
Due: prettier --write, eslint --fix --max-warnings=0

feat: update to aksel v8
  package-lock.json
  package.json
Due: prettier --write

chore: remove flexjar
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  package-lock.json
  package.json
  src/components/flexjar/flexjar-arbeidsgiver.tsx
  src/components/flexjar/flexjar-sykmeldt.tsx
  src/components/flexjar/flexjar-transport.ts
  src/pages/_app.tsx
  src/pages/api/flexjar/index.ts
  src/pages/arbeidsgiver/[narmestelederid]/[oppfolgingsdialogId]/index.tsx
  src/pages/sykmeldt/[oppfolgingsdialogId]/index.tsx
  src/server/utils/serverEnv.ts
  src/utils/logUtils.ts
Due: prettier --write, eslint --fix --max-warnings=0

feat: update to sidemeny v8
  package-lock.json
  package.json
  src/components/blocks/icons/FilledCrossIcon.tsx
  src/components/blocks/icons/FilledWarningIcon.tsx
Due: prettier --write, eslint --fix --max-warnings=0

feat: add lumi service integration
  nais/nais-dev.yaml
  nais/nais-prod.yaml
  package-lock.json
  package.json
  src/api/queries/lumi/lumiQueries.ts
  src/components/blocks/wrappers/ArbeidsgiverSide.tsx
  src/components/lumi/pilotFeedbackSurvey.ts
  src/pages/_app.tsx
  src/pages/api/lumi/feedback.ts
  src/server/utils/serverEnv.ts
  src/utils/logUtils.ts
Due: prettier --write, eslint --fix --max-warnings=0
