Repository navikt/oppfolgingsplan-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

.lintstagedrc.json:

{
  "*.{md,html,css,json}": "prettier --write",
  "*.{ts,tsx}": "eslint --fix --max-warnings=0"
}

Refactor faro log placement
  src/faro/initFaro.ts
  src/utils/logUtils.ts
Due: eslint --fix --max-warnings=0

Refactor faro log placement (#249)
  src/faro/initFaro.ts
  src/utils/logUtils.ts
Due: eslint --fix --max-warnings=0

Improve faro log
  package-lock.json
  package.json
  src/api/axios/axios.ts
  src/api/queries/arbeidsgiver/dinesykmeldteQueriesAG.ts
  src/api/queries/arbeidsgiver/oppfolgingsplanerQueriesAG.ts
  src/api/queries/arbeidsgiver/tilgangQueriesAG.ts
  src/api/queries/kontaktinfo/kontaktinfoQueries.ts
  src/api/queries/oppfolgingsplan/arbeidsoppgaveQueries.ts
  src/api/queries/oppfolgingsplan/oppfolgingsplanQueries.ts
  src/api/queries/oppfolgingsplan/tiltakQueries.ts
  src/api/queries/sykmeldt/narmesteLedereQueriesSM.ts
  src/api/queries/sykmeldt/oppfolgingsplanerQueriesSM.ts
  src/api/queries/sykmeldt/sykmeldingerQueriesSM.ts
  src/api/queries/testScenarioQueries.ts
  src/api/queries/varsel/ferdigstillingQueries.ts
  src/components/blocks/error/OPErrorBoundary.tsx
  src/faro/initFaro.ts
  src/server/service/oppfolgingsplanService.ts
  src/server/utils/logUtils.ts
  src/utils/WipError.tsx
  src/utils/logUtils.ts
Due: prettier --write, eslint --fix --max-warnings=0

wip
  package-lock.json
  package.json
  src/api/axios/axios.ts
  src/utils/WipError.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Logging improvements (#250)
  package-lock.json
  package.json
  src/api/axios/axios.ts
  src/api/queries/arbeidsgiver/dinesykmeldteQueriesAG.ts
  src/api/queries/arbeidsgiver/oppfolgingsplanerQueriesAG.ts
  src/api/queries/arbeidsgiver/tilgangQueriesAG.ts
  src/api/queries/kontaktinfo/kontaktinfoQueries.ts
  src/api/queries/oppfolgingsplan/arbeidsoppgaveQueries.ts
  src/api/queries/oppfolgingsplan/oppfolgingsplanQueries.ts
  src/api/queries/oppfolgingsplan/tiltakQueries.ts
  src/api/queries/sykmeldt/narmesteLedereQueriesSM.ts
  src/api/queries/sykmeldt/oppfolgingsplanerQueriesSM.ts
  src/api/queries/sykmeldt/sykmeldingerQueriesSM.ts
  src/api/queries/testScenarioQueries.ts
  src/api/queries/varsel/ferdigstillingQueries.ts
  src/components/blocks/error/OPErrorBoundary.tsx
  src/faro/initFaro.ts
  src/server/service/oppfolgingsplanService.ts
  src/server/utils/logUtils.ts
  src/utils/logUtils.ts
Due: prettier --write, eslint --fix --max-warnings=0

Stop log 401 errors
  src/api/axios/axios.ts
Due: eslint --fix --max-warnings=0

Stop log 401 errors (#251)
  src/api/axios/axios.ts
Due: eslint --fix --max-warnings=0

Bump NAV packages
  package-lock.json
  package.json
Due: prettier --write

Bump NAV packages (#252)
  package-lock.json
  package.json
Due: prettier --write

Bump NAV packages 2.0
  jest.setup.js
  package-lock.json
  package.json
  src/components/arbeidsoppgaver/SlettArbeidsoppgaveButton.tsx
  src/components/blocks/testscenarioselector/TestScenarioSelector.tsx
  src/components/landing/opprett/OpprettModalAG.tsx
  src/components/landing/opprett/OpprettModalSM.tsx
  src/components/status/SePlan.tsx
  src/components/status/godkjentplan/AvbrytPlanKnapp.tsx
  src/components/tiltak/SlettTiltakButton.tsx
  src/pages/_app.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Bump NAV packages 2.0 (#253)
  jest.setup.js
  package-lock.json
  package.json
  src/components/arbeidsoppgaver/SlettArbeidsoppgaveButton.tsx
  src/components/blocks/testscenarioselector/TestScenarioSelector.tsx
  src/components/landing/opprett/OpprettModalAG.tsx
  src/components/landing/opprett/OpprettModalSM.tsx
  src/components/status/SePlan.tsx
  src/components/status/godkjentplan/AvbrytPlanKnapp.tsx
  src/components/tiltak/SlettTiltakButton.tsx
  src/pages/_app.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Run Cypress tests on common workflow
  package.json
Due: prettier --write

Run Cypress tests on common workflow (#254)
  package.json
Due: prettier --write

Enable logout warning
  package-lock.json
  package.json
  src/pages/_document.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Enable logout warning (#255)
  package-lock.json
  package.json
  src/pages/_document.tsx
Due: prettier --write, eslint --fix --max-warnings=0

fix link on landing page
  src/components/blocks/video/VideoPanel.tsx
Due: eslint --fix --max-warnings=0

fix link on landing page (#256)
  src/components/blocks/video/VideoPanel.tsx
Due: eslint --fix --max-warnings=0

fix oppfolginsplan links
  src/components/blocks/video/VideoPanel.tsx
Due: eslint --fix --max-warnings=0

Fix oppfolgingsplan links (#257)
  src/components/blocks/video/VideoPanel.tsx
Due: eslint --fix --max-warnings=0

add gha permissions
  .github/workflows/build-and-deploy.yaml
Due: none

add gha permissions (#258)
  .github/workflows/build-and-deploy.yaml
Due: none

Upggrade to react-query 5
  package-lock.json
  package.json
  src/api/queries/arbeidsgiver/dinesykmeldteQueriesAG.ts
  src/api/queries/arbeidsgiver/oppfolgingsplanerQueriesAG.ts
  src/api/queries/arbeidsgiver/tilgangQueriesAG.ts
  src/api/queries/kontaktinfo/kontaktinfoQueries.ts
  src/api/queries/oppfolgingsplan/arbeidsoppgaveQueries.ts
  src/api/queries/oppfolgingsplan/oppfolgingsplanQueries.ts
  src/api/queries/oppfolgingsplan/tiltakQueries.ts
  src/api/queries/sykmeldt/narmesteLedereQueriesSM.ts
  src/api/queries/sykmeldt/oppfolgingsplanerQueriesSM.ts
  src/api/queries/sykmeldt/sykmeldingerQueriesSM.ts
  src/api/queries/testScenarioQueries.ts
  src/api/queries/varsel/ferdigstillingQueries.ts
  src/pages/_app.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Change from isloading to isPending
  src/components/arbeidsoppgaver/EditerArbeidsoppgave.tsx
  src/components/arbeidsoppgaver/NyArbeidsoppgaveAG.tsx
  src/components/arbeidsoppgaver/NyArbeidsoppgaveSM.tsx
  src/components/arbeidsoppgaver/SlettArbeidsoppgaveButton.tsx
  src/components/blocks/dialog/Dialog.tsx
  src/components/blocks/wrappers/oppfolgingsplanpageag/OppfolgingsplanPageAG.tsx
  src/components/blocks/wrappers/oppfolgingsplanpagesm/OppfolgingsplanPageSM.tsx
  src/components/landing/opprett/IngenPlanerCardAG.tsx
  src/components/landing/opprett/IngenPlanerCardSM.tsx
  src/components/landing/opprett/OpprettModalAG.tsx
  src/components/landing/opprett/OpprettModalSM.tsx
  src/components/seplanen/sendtilgodkjenning/GodkjennEgenPlanAG.tsx
  src/components/seplanen/sendtilgodkjenning/SendTilGodkjenningAG.tsx
  src/components/seplanen/sendtilgodkjenning/SendTilGodkjenningSM.tsx
  src/components/status/AvvisPlanKnapp.tsx
  src/components/status/GodkjennOppfolgingsplan.tsx
  src/components/status/NullstillGodkjenningKnapp.tsx
  src/components/status/godkjentplan/AvbrytPlanKnapp.tsx
  src/components/status/godkjentplan/DelMedNavOgFastlegeButtons.tsx
  src/components/tiltak/EditerTiltak.tsx
  src/components/tiltak/LagretTiltak.tsx
  src/components/tiltak/SlettTiltakButton.tsx
  src/components/tiltak/VurderTiltak.tsx
  src/pages/arbeidsgiver/[narmestelederid]/[oppfolgingsdialogId]/index.tsx
  src/pages/arbeidsgiver/[narmestelederid]/[oppfolgingsdialogId]/tiltak.tsx
  src/pages/arbeidsgiver/[narmestelederid]/index.tsx
  src/pages/sykmeldt/[oppfolgingsdialogId]/index.tsx
  src/pages/sykmeldt/[oppfolgingsdialogId]/tiltak.tsx
  src/pages/sykmeldt/index.tsx
Due: eslint --fix --max-warnings=0

Change from cacheTime to gcTime
  cypress/utils/mountWithMocks.tsx
Due: eslint --fix --max-warnings=0

Fikser modalene våre
  src/components/arbeidsoppgaver/SlettArbeidsoppgaveButton.tsx
  src/components/blocks/testscenarioselector/TestScenarioSelector.tsx
  src/components/landing/opprett/ArbeidsgiverSkjema.tsx
  src/components/landing/opprett/BaserTidligereSkjema.tsx
  src/components/landing/opprett/OpprettModalAG.tsx
  src/components/landing/opprett/OpprettModalSM.tsx
  src/components/seplanen/OppfolgingsplanOversikt.tsx
  src/components/status/SePlan.tsx
  src/components/status/godkjentplan/AvbrytPlanKnapp.tsx
  src/components/tiltak/SlettTiltakButton.tsx
  src/server/data/mock/testscenarios/planunderarbeid/planUnderArbeidOppfolgingsplanerMockData.ts
Due: eslint --fix --max-warnings=0

Fikser modalene våre (#266)
  src/components/arbeidsoppgaver/SlettArbeidsoppgaveButton.tsx
  src/components/blocks/testscenarioselector/TestScenarioSelector.tsx
  src/components/landing/opprett/ArbeidsgiverSkjema.tsx
  src/components/landing/opprett/BaserTidligereSkjema.tsx
  src/components/landing/opprett/OpprettModalAG.tsx
  src/components/landing/opprett/OpprettModalSM.tsx
  src/components/seplanen/OppfolgingsplanOversikt.tsx
  src/components/status/SePlan.tsx
  src/components/status/godkjentplan/AvbrytPlanKnapp.tsx
  src/components/tiltak/SlettTiltakButton.tsx
  src/server/data/mock/testscenarios/planunderarbeid/planUnderArbeidOppfolgingsplanerMockData.ts
Due: eslint --fix --max-warnings=0

Move react query devtool
  src/pages/_app.tsx
Due: eslint --fix --max-warnings=0

Upgrade to Next 14
  cypress/utils/mountWithMocks.tsx
  nais/envs/.env
  next.config.js
  package-lock.json
  package.json
  src/pages/_app.tsx
Due: prettier --write, eslint --fix --max-warnings=0

wip
  package-lock.json
  package.json
Due: prettier --write

Upgrade to Next 14 (#269)
  cypress/utils/mountWithMocks.tsx
  nais/envs/.env
  next.config.js
  package-lock.json
  package.json
  src/pages/_app.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Increase max length in tiltak beskrivelse field
  src/components/tiltak/TiltakFormAG.tsx
  src/components/tiltak/TiltakFormSM.tsx
Due: eslint --fix --max-warnings=0

Upgrade cypress
  package-lock.json
  package.json
Due: prettier --write

Upgrade cypress stuff
  package-lock.json
  package.json
Due: prettier --write

Bump cypress to avoid vulnerability i tough-cookie (#270)
  package-lock.json
  package.json
Due: prettier --write
