Repository navikt/oppfolgingsplan-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

Use async/await Testscenario selector
  src/api/queries/testScenarioQueries.ts
  src/components/blocks/testscenarioselector/TestScenarioSelector.tsx
Due: eslint --fix --max-warnings=0

Add error message and counter to tiltak AG vurdering fields
  src/components/tiltak/TiltakFormAG.tsx
Due: eslint --fix --max-warnings=0

Try sessionStorage
  src/api/axios/axios.ts
Due: eslint --fix --max-warnings=0

Fix labs testdata
  nais/naiserator-labs.yaml
  src/api/axios/axios.ts
Due: eslint --fix --max-warnings=0

Add check for existing previous plan.
  src/components/landing/opprett/ArbeidsgiverSkjema.tsx
  src/utils/oppfolgingplanUtils.ts
Due: eslint --fix --max-warnings=0

Add missing prop
  src/components/seplanen/sendtilgodkjenning/GodkjennEgenPlanAG.tsx
Due: eslint --fix --max-warnings=0

Add error message and counter to tiltak AG vurdering fields (#183)
  src/components/tiltak/TiltakFormAG.tsx
Due: eslint --fix --max-warnings=0

Add functionality to opprett-plan-modal to allow copy previous plan w… (#180)
  src/components/landing/opprett/ArbeidsgiverSkjema.tsx
  src/components/landing/opprett/OpprettModalSM.tsx
  src/utils/oppfolgingplanUtils.ts
Due: eslint --fix --max-warnings=0

fix yaml
  .github/workflows/main.yaml
  nais/naiserator-labs.yaml
Due: none

fix knapp navn
  src/components/seplanen/sendtilgodkjenning/GodkjennEgenPlanAG.tsx
  src/components/seplanen/sendtilgodkjenning/SendTilGodkjenningForm.tsx
Due: eslint --fix --max-warnings=0

Revert main.yaml
  .github/workflows/main.yaml
Due: none

Approve plan as selfemployed AG (#168)
  src/api/queries/oppfolgingsplan/oppfolgingsplanQueries.ts
  src/components/seplanen/sendtilgodkjenning/GodkjennEgenPlanAG.tsx
  src/components/seplanen/sendtilgodkjenning/SendTilGodkjenningForm.tsx
  src/components/seplanen/sendtilgodkjenning/SendTilGodkjenningSM.tsx
  src/pages/api/arbeidsgiver/oppfolgingsplaner/[oppfolgingsplanId]/godkjennegenplan/index.ts
  src/pages/arbeidsgiver/[narmestelederid]/[oppfolgingsdialogId]/seplanen.tsx
  src/pages/sykmeldt/[oppfolgingsdialogId]/seplanen.tsx
  src/server/service/oppfolgingsplanService.ts
  src/types/oppfolgingsplan.ts
Due: eslint --fix --max-warnings=0

Change custom styled element to design system element
  src/components/landing/OppfolgingsdialogTidligereUtenSykmelding.tsx
  src/components/landing/teaser/OppfolgingsdialogTeaser.tsx
Due: eslint --fix --max-warnings=0

Fix historical plans not sykmeldt 4mnd (#179)
  src/components/blocks/images/plan-ikke-aktiv-sykmelding--hake.svg
  src/components/landing/OppfolgingsdialogTidligereUtenSykmelding.tsx
  src/components/landing/OppfolgingsdialogerUtenAktivSykmelding.tsx
  src/components/landing/teaser/OppfolgingsdialogTeaser.tsx
  src/utils/teaserUtils.js
  src/utils/teaserUtils.ts
Due: eslint --fix --max-warnings=0

Change custom styled element to design system element
  src/components/landing/teaser/OppfolgingsdialogTeaser.tsx
Due: eslint --fix --max-warnings=0

fix typo (#184)
  src/components/landing/teaser/OppfolgingsdialogTeaser.tsx
Due: eslint --fix --max-warnings=0

Change to common error text for 409 (#182)
  src/components/blocks/error/CantEditPlanError.tsx
  src/pages/api/scenario/activescenario.ts
Due: eslint --fix --max-warnings=0

Use narmestelederid to query on correct virksomhetsnummer
  src/api/queries/arbeidsgiver/oppfolgingsplanerQueriesAG.ts
  src/pages/api/arbeidsgiver/[narmestelederid]/oppfolgingsplaner/index.ts
  src/server/data/arbeidsgiver/fetchOppfolgingsplanerMetaAG.ts
  src/server/data/mapping/filterValidOppfolgingsplaner.ts
  src/server/service/oppfolgingsplanService.ts
  src/server/utils/requestUtils.ts
Due: eslint --fix --max-warnings=0

Use narmestelederid to query on correct virksomhetsnummer (#185)
  src/api/queries/arbeidsgiver/oppfolgingsplanerQueriesAG.ts
  src/pages/api/arbeidsgiver/[narmestelederid]/oppfolgingsplaner/index.ts
  src/server/data/arbeidsgiver/fetchOppfolgingsplanerMetaAG.ts
  src/server/data/mapping/filterValidOppfolgingsplaner.ts
  src/server/service/oppfolgingsplanService.ts
  src/server/utils/requestUtils.ts
Due: eslint --fix --max-warnings=0

Fix arbeidsoppgave kan gjennomfores description display logic
  src/components/arbeidsoppgaver/TilretteleggingsBeskrivelse.tsx
Due: eslint --fix --max-warnings=0

Add Cypress and a few initial tests
  cypress.config.ts
  cypress/e2e/sykmeldt/page-statuses.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  package-lock.json
  package.json
  src/components/blocks/testscenarioselector/TestScenarioSelector.tsx
  src/components/seplanen/OppfolgingsplanPanel.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Fix lint errors
  src/components/arbeidsoppgaver/EditerArbeidsoppgave.tsx
  src/components/status/godkjentplan/GodkjentPlan.tsx
Due: eslint --fix --max-warnings=0

Fix arbeidsoppgave kan gjennomfores description display logic (#186)
  src/components/arbeidsoppgaver/TilretteleggingsBeskrivelse.tsx
Due: eslint --fix --max-warnings=0

Fix lint errors (#188)
  src/components/arbeidsoppgaver/EditerArbeidsoppgave.tsx
  src/components/status/godkjentplan/GodkjentPlan.tsx
Due: eslint --fix --max-warnings=0

Add Cypress and a few initial tests (#187)
  cypress.config.ts
  cypress/e2e/sykmeldt/page-statuses.cy.ts
  cypress/fixtures/example.json
  cypress/support/commands.ts
  cypress/support/e2e.ts
  package-lock.json
  package.json
  src/components/blocks/testscenarioselector/TestScenarioSelector.tsx
  src/components/seplanen/OppfolgingsplanPanel.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Fix tslint cypress
  cypress/tsconfig.json
  tsconfig.json
Due: prettier --write

Fix tslint cypress
  tsconfig.json
Due: prettier --write

Initial cypress (#190)
  cypress/tsconfig.json
  tsconfig.json
Due: prettier --write

wip
  cypress/README.md
  cypress/dataTestId.ts
  cypress/e2e/sykmeldt/create-new-plan-happy-case.cy.ts
  cypress/e2e/sykmeldt/page-statuses.cy.ts
  cypress/support/commands.ts
  src/components/arbeidsoppgaver/ArbeidsoppgaveFormSM.tsx
  src/components/arbeidsoppgaver/NyArbeidsoppgaveSM.tsx
  src/components/blocks/buttons/NavigationButtons.tsx
  src/components/blocks/datepicker/Datepicker.tsx
  src/components/seplanen/OppfolgingsplanPanel.tsx
  src/components/seplanen/sendtilgodkjenning/SendTilGodkjenningForm.tsx
  src/components/seplanen/sendtilgodkjenning/SendTilGodkjenningToggle.tsx
  src/components/tiltak/NyttTiltak.tsx
  src/components/tiltak/TiltakFormAG.tsx
  src/components/tiltak/TiltakFormSM.tsx
  src/components/tiltak/TiltakStartSluttDato.tsx
Due: prettier --write, eslint --fix --max-warnings=0

wip
  cypress/dataTestId.ts
  cypress/e2e/sykmeldt/create-new-plan-happy-case.cy.ts
  src/components/blocks/buttons/NavigationButtons.tsx
  src/components/seplanen/sendtilgodkjenning/SendTilGodkjenningToggle.tsx
Due: eslint --fix --max-warnings=0

wip
  cypress/dataTestId.ts
Due: eslint --fix --max-warnings=0

wip
  cypress/dataTestId.ts
  src/components/arbeidsoppgaver/ArbeidsoppgaveFormSM.tsx
Due: eslint --fix --max-warnings=0

wip
  cypress/dataTestId.ts
  cypress/e2e/sykmeldt/create-new-plan-happy-case.cy.ts
  src/components/arbeidsoppgaver/ArbeidsoppgaveFormSM.tsx
  src/components/arbeidsoppgaver/NyArbeidsoppgaveSM.tsx
  src/components/tiltak/NyttTiltak.tsx
  src/components/tiltak/TiltakFormAG.tsx
  src/components/tiltak/TiltakFormSM.tsx
Due: eslint --fix --max-warnings=0

wip
  .github/workflows/main.yaml
Due: none

Fix counter text area
  package-lock.json
  package.json
  src/components/arbeidsoppgaver/ArbeidsoppgaveFormSM.tsx
  src/components/arbeidsoppgaver/EditerArbeidsoppgave.tsx
  src/components/arbeidsoppgaver/NyArbeidsoppgaveSM.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Fix counter text area (#189)
  package-lock.json
  package.json
  src/components/arbeidsoppgaver/ArbeidsoppgaveFormSM.tsx
  src/components/arbeidsoppgaver/EditerArbeidsoppgave.tsx
  src/components/arbeidsoppgaver/NyArbeidsoppgaveSM.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Rewrite to relative imports
  src/api/axios/axios.ts
  src/components/arbeidsoppgaver/ArbeidsoppgaveFormSM.tsx
  src/components/seplanen/sendtilgodkjenning/SendTilGodkjenningForm.tsx
  src/components/tiltak/TiltakFormSM.tsx
Due: eslint --fix --max-warnings=0

Path conditions:
  prettier --write: any of: *.{md,html,css,json}
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
