Repository navikt/oppfolgingsplan-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

Hardcode dev url for testing.
  src/api/queries/arbeidsforhold/arbeidsforholdQueries.ts
Due: eslint --fix --max-warnings=0

Add index file for arbeidsforhold API
  src/pages/api/sykmeldt/arbeidsforhold/index.ts
  src/server/service/oppfolgingsplanService.ts
Due: eslint --fix --max-warnings=0

WIP, refactoring
  src/api/queries/arbeidsforhold/arbeidsforholdQueries.ts
  src/pages/api/sykmeldt/arbeidsforhold/index.ts
  src/server/service/oppfolgingsplanService.ts
  src/utils/logUtils.ts
Due: eslint --fix --max-warnings=0

Add fetching of Arbeidsforhold-API
  src/api/queries/oppfolgingsplan/arbeidsforholdQueries.ts
  src/api/queries/queryKeys.ts
  src/pages/api/sykmeldt/arbeidsforhold/index.ts
  src/pages/sykmeldt/index.tsx
  src/schema/oppfolgingsplanSchema.ts
  src/server/service/oppfolgingsplanService.ts
  src/utils/logUtils.ts
Due: eslint --fix --max-warnings=0

remove axios better stacktrace
  package-lock.json
  package.json
  src/api/axios/axios.ts
Due: prettier --write, eslint --fix --max-warnings=0

remove axios better stacktrace (#1121)
  package-lock.json
  package.json
  src/api/axios/axios.ts
Due: prettier --write, eslint --fix --max-warnings=0

omit data from axios error
  src/api/axios/axios.ts
Due: eslint --fix --max-warnings=0

omit data from axios error (#1122)
  src/api/axios/axios.ts
Due: eslint --fix --max-warnings=0

update upload public files to cdn step
  .github/workflows/upload-public.yaml
Due: none

update upload public files to cdn step (#1161)
  .github/workflows/upload-public.yaml
Due: none

use specified version of debian
  Dockerfile
Due: none

Update package-lock.json
  package-lock.json
Due: prettier --write

Use capital letter for AS as recommended from Github Actions
  Dockerfile
Due: none

Fix eslint error
  src/environments/publicEnv.ts
Due: eslint --fix --max-warnings=0

Use debian 12 (#1243)
  Dockerfile
  package-lock.json
Due: prettier --write

Update MockData.
  src/server/data/mock/defaultData/oppfolgingsplanservice/defaultNarmesteLedereMockData.ts
  src/server/data/mock/defaultData/oppfolgingsplanservice/defaultOppfolgingsplanerMockData.ts
  src/server/data/mock/testscenarios/arbeidsgiversendttilgodkjenning/arbeidsgiverSendtTilGodkjenningMockData.ts
  src/server/data/mock/testscenarios/godkjentplan/godkjentPlanMockData.ts
  src/server/data/mock/testscenarios/planunderarbeid/planUnderArbeidOppfolgingsplanerMockData.ts
  src/server/data/mock/testscenarios/sykmeldtsendttilgodkjenning/sykmeldtSendtTilGodkjenningMockData.ts
  src/server/data/mock/testscenarios/sykmeldtsendttilgodkjenningagendret/sykmeldtSendtTilGodkjenningAGEndretMockData.ts
  src/server/data/mock/testscenarios/tidligereoppfolgingsplaner/tidligerePlanMockData.ts
Due: eslint --fix --max-warnings=0

Update MockData. (#1334)
  src/server/data/mock/defaultData/oppfolgingsplanservice/defaultNarmesteLedereMockData.ts
  src/server/data/mock/defaultData/oppfolgingsplanservice/defaultOppfolgingsplanerMockData.ts
  src/server/data/mock/testscenarios/arbeidsgiversendttilgodkjenning/arbeidsgiverSendtTilGodkjenningMockData.ts
  src/server/data/mock/testscenarios/godkjentplan/godkjentPlanMockData.ts
  src/server/data/mock/testscenarios/planunderarbeid/planUnderArbeidOppfolgingsplanerMockData.ts
  src/server/data/mock/testscenarios/sykmeldtsendttilgodkjenning/sykmeldtSendtTilGodkjenningMockData.ts
  src/server/data/mock/testscenarios/sykmeldtsendttilgodkjenningagendret/sykmeldtSendtTilGodkjenningAGEndretMockData.ts
  src/server/data/mock/testscenarios/tidligereoppfolgingsplaner/tidligerePlanMockData.ts
Due: eslint --fix --max-warnings=0

add mock for ingen planer
  src/server/data/mock/testscenarios/ingenplan/ingenPlanMockData.ts
Due: eslint --fix --max-warnings=0

add mock for ingen planer
  src/server/data/mock/testscenarios/ingenplan/ingenPlanScenario.ts
Due: eslint --fix --max-warnings=0

Migrate nav-dekoratoren-moduler to 3.x
  package-lock.json
  package.json
  src/pages/_document.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Migrate nav-dekoratoren-moduler to 3.x (#1340)
  package-lock.json
  package.json
  src/pages/_document.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Add time to live for demo-branch
  .github/workflows/demo-delete.yaml
  nais/nais-demo.yaml
Due: none

wooops
  nais/nais-demo.yaml
Due: none

Delete demo branch after 48h (#1347)
  .github/workflows/demo-delete.yaml
  nais/nais-demo.yaml
Due: none

Retain query client on route changes
  src/pages/_app.tsx
Due: eslint --fix --max-warnings=0

Bump sidemeny and aksel
  package-lock.json
  package.json
  src/pages/_app.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Fix stepper
  src/components/blocks/stepper/OppfolgingsplanStepper.tsx
Due: eslint --fix --max-warnings=0

Testing
  src/components/blocks/sidemenu/ArbeidsgiverSideMenu.tsx
Due: eslint --fix --max-warnings=0

Testing
  .env
Due: none

Dont use session storage to avoid multiple ferdigstill varsel calls during a "session".
  src/api/queries/varsel/ferdigstillingQueries.ts
  src/components/status/godkjennmottatt/GodkjennPlanMottatt.tsx
  src/components/status/godkjennplanavslattoggodkjent/GodkjennPlanAvslattOgGodkjent.tsx
  src/components/status/utils/varselHooks.ts
Due: eslint --fix --max-warnings=0

Dont use session storage to remember if reservert-info has been dismissed
  src/components/status/utils/useShowSMIsReservertInfoForAG.ts
  src/pages/arbeidsgiver/[narmestelederid]/index.tsx
Due: eslint --fix --max-warnings=0

Replace using session storage with query client for app state (#1354)
  src/api/queries/varsel/ferdigstillingQueries.ts
  src/components/status/godkjennmottatt/GodkjennPlanMottatt.tsx
  src/components/status/godkjennplanavslattoggodkjent/GodkjennPlanAvslattOgGodkjent.tsx
  src/components/status/utils/useShowSMIsReservertInfoForAG.ts
  src/components/status/utils/varselHooks.ts
  src/pages/_app.tsx
  src/pages/arbeidsgiver/[narmestelederid]/index.tsx
Due: eslint --fix --max-warnings=0

Testing
  .husky/pre-commit
  src/pages/api/sykmeldt/narmesteledere/index.ts
Due: eslint --fix --max-warnings=0

Testing
  src/pages/api/sykmeldt/narmesteledere/index.ts
Due: eslint --fix --max-warnings=0

Path conditions:
  prettier --write: any of: *.{md,html,css,json}
  eslint --fix --max-warnings=0: any of: *.{ts,tsx}
