Repository navikt/oppfolgingsplan-frontend: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix --max-warnings=0

.lintstagedrc.json:

{
  "*.{md,html,css,json}": "prettier --write",
  "*.{ts,tsx}": "eslint --fix --max-warnings=0"
}

wip
  src/pages/_app.tsx
Due: eslint --fix --max-warnings=0

wip
  src/faro/initFaro.ts
Due: eslint --fix --max-warnings=0

Faro (#220)
  next.config.js
  package-lock.json
  package.json
  src/faro/initFaro.ts
  src/pages/_app.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Stop blocking subtitles for video
  src/components/blocks/video/VideoPanel.tsx
Due: eslint --fix --max-warnings=0

Stop blocking subtitles for video (#221)
  src/components/blocks/video/VideoPanel.tsx
Due: eslint --fix --max-warnings=0

Bump designsystem
  .npmrc
  package-lock.json
  package.json
  src/components/arbeidsoppgaver/ArbeidsoppgaveCard.tsx
  src/components/arbeidsoppgaver/SlettArbeidsoppgaveButton.tsx
  src/components/blocks/icons/AddColored.tsx
  src/components/blocks/images/sun.svg
  src/components/blocks/testscenarioselector/TestScenarioSelector.tsx
  src/components/blocks/wrappers/ArbeidsgiverSide.tsx
  src/components/blocks/wrappers/ImageContainer.tsx
  src/components/status/AapnePlanSomPDF.tsx
  src/components/status/AvvisPlanKnapp.tsx
  src/components/status/GodkjennOppfolgingsplan.tsx
  src/components/status/NullstillGodkjenningKnapp.tsx
  src/components/status/SePlan.tsx
  src/components/status/TilLandingssideKnapp.tsx
  src/components/status/godkjentplan/AvbrytPlanKnapp.tsx
  src/components/status/godkjentplanavbrutt/TilGjeldendePlanKnapp.tsx
  src/components/tiltak/LagretTiltak.tsx
  src/components/tiltak/SlettTiltakButton.tsx
  src/pages/_document.tsx
  src/styles/globals.css
Due: prettier --write, eslint --fix --max-warnings=0

Replace unsafe datepicker
  src/components/blocks/datepicker/Datepicker.tsx
Due: eslint --fix --max-warnings=0

Fix styling a bit
  src/components/arbeidsoppgaver/ArbeidsoppgaveCard.tsx
  src/components/blocks/icons/AddColored.tsx
  src/components/blocks/icons/IconWrapper.tsx
  src/components/status/SePlan.tsx
Due: eslint --fix --max-warnings=0

Fix spacing
  .npmrc
Due: none

Bump designsystem (#222)
  .npmrc
  package-lock.json
  package.json
  src/components/arbeidsoppgaver/ArbeidsoppgaveCard.tsx
  src/components/arbeidsoppgaver/SlettArbeidsoppgaveButton.tsx
  src/components/blocks/datepicker/Datepicker.tsx
  src/components/blocks/icons/AddColored.tsx
  src/components/blocks/icons/IconWrapper.tsx
  src/components/blocks/images/sun.svg
  src/components/blocks/testscenarioselector/TestScenarioSelector.tsx
  src/components/blocks/wrappers/ArbeidsgiverSide.tsx
  src/components/blocks/wrappers/ImageContainer.tsx
  src/components/status/AapnePlanSomPDF.tsx
  src/components/status/AvvisPlanKnapp.tsx
  src/components/status/GodkjennOppfolgingsplan.tsx
  src/components/status/NullstillGodkjenningKnapp.tsx
  src/components/status/SePlan.tsx
  src/components/status/TilLandingssideKnapp.tsx
  src/components/status/godkjentplan/AvbrytPlanKnapp.tsx
  src/components/status/godkjentplanavbrutt/TilGjeldendePlanKnapp.tsx
  src/components/tiltak/LagretTiltak.tsx
  src/components/tiltak/SlettTiltakButton.tsx
  src/pages/_document.tsx
  src/styles/globals.css
Due: prettier --write, eslint --fix --max-warnings=0

Add support for Tailwind
  package-lock.json
  package.json
  postcss.config.js
  src/components/arbeidsoppgaver/TilretteleggingsBeskrivelse.tsx
  src/components/blocks/infoboks/OppfolgingsdialogerInfoPersonvern.tsx
  src/components/landing/teaser/OppfolgingsdialogerVisning.tsx
  src/components/seplanen/OppfolgingsplanCard.tsx
  src/components/status/godkjennplansendt/GodkjennPlanSendtInfoBox.tsx
  src/pages/_app.tsx
  src/styles/globals.css
  src/styles/tailwind.css
  tailwind.config.js
Due: prettier --write, eslint --fix --max-warnings=0

Add access policy for dekoratøren
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: none

Add access policy for dekoratøren
  nais/nais-demo.yaml
Due: none

Dekorator fiks (#224)
  nais/nais-demo.yaml
  nais/nais-dev.yaml
  nais/nais-prod.yaml
Due: none

Server side render breadcrumbs
  src/pages/_document.tsx
Due: eslint --fix --max-warnings=0

Add support for Tailwind (#223)
  package-lock.json
  package.json
  postcss.config.js
  src/components/arbeidsoppgaver/TilretteleggingsBeskrivelse.tsx
  src/components/blocks/infoboks/OppfolgingsdialogerInfoPersonvern.tsx
  src/components/landing/teaser/OppfolgingsdialogerVisning.tsx
  src/components/seplanen/OppfolgingsplanCard.tsx
  src/components/status/godkjennplansendt/GodkjennPlanSendtInfoBox.tsx
  src/pages/_app.tsx
  src/styles/globals.css
  src/styles/tailwind.css
  tailwind.config.js
Due: prettier --write, eslint --fix --max-warnings=0

Server side render breadcrumbs (#225)
  src/pages/_document.tsx
Due: eslint --fix --max-warnings=0

Rewrite to tailwind and CSS Modules part #1
  src/components/arbeidsoppgaver/LagredeArbeidsoppgaver.tsx
  src/components/arbeidsoppgaver/OpprettetAv.tsx
  src/components/arbeidsoppgaver/TilretteleggingsBeskrivelse.tsx
  src/components/arbeidsoppgaver/__tests__/ArbeidsoppgaveCard.test.tsx
  src/components/arbeidsoppgaver/arbeidsoppgavecard/ArbeidsoppgaveCard.cy.tsx
  src/components/arbeidsoppgaver/arbeidsoppgavecard/ArbeidsoppgaveCard.tsx
  src/components/arbeidsoppgaver/arbeidsoppgavecard/arbeidsoppgavecard.module.css
  src/components/blocks/SpacedDetail.tsx
  src/components/blocks/card/Card.tsx
  src/components/blocks/error/CantEditPlanError.tsx
  src/components/blocks/icons/CircledIcon.tsx
  src/components/blocks/icons/icons.module.css
  src/components/blocks/infoboks/InfoBoksWithImageAndButton.tsx
  src/components/blocks/infoboks/infoboks.module.css
  src/components/blocks/spinner/AppSpinner.tsx
  src/components/blocks/stepper/OppfolgingsplanStepper.tsx
  src/components/blocks/testscenarioselector/TestScenarioSelector.tsx
  src/components/blocks/testscenarioselector/testscenarioselector.module.css
  src/components/blocks/wrappers/OppfolgingsplanPageSM.tsx
  src/components/blocks/wrappers/SpacedDiv.tsx
  src/components/blocks/wrappers/SpacedPanel.tsx
  src/components/blocks/wrappers/SykmeldtSide.tsx
  src/components/blocks/wrappers/sykmeldtside/SykmeldtSide.module.css
  src/components/blocks/wrappers/sykmeldtside/SykmeldtSide.tsx
  src/components/landing/OppfolgingsdialogerUtenAktivSykmelding.tsx
  src/components/seplanen/arbeidsoppgaver/ArbeidsoppgaveList.tsx
  src/components/seplanen/sendtilgodkjenning/GodkjennEgenPlanAG.tsx
  src/components/seplanen/sendtilgodkjenning/SendTilGodkjenningToggle.tsx
  src/components/status/godkjentplan/GodkjentPlan.tsx
  src/components/tiltak/LagretTiltak.tsx
  src/components/tiltak/VurderTiltakForm.tsx
  src/pages/sykmeldt/[oppfolgingsdialogId]/index.tsx
  src/pages/sykmeldt/index.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Rewrite to tailwind and CSS Modules part #1 (#226)
  src/components/arbeidsoppgaver/LagredeArbeidsoppgaver.tsx
  src/components/arbeidsoppgaver/OpprettetAv.tsx
  src/components/arbeidsoppgaver/TilretteleggingsBeskrivelse.tsx
  src/components/arbeidsoppgaver/__tests__/ArbeidsoppgaveCard.test.tsx
  src/components/arbeidsoppgaver/arbeidsoppgavecard/ArbeidsoppgaveCard.cy.tsx
  src/components/arbeidsoppgaver/arbeidsoppgavecard/ArbeidsoppgaveCard.tsx
  src/components/arbeidsoppgaver/arbeidsoppgavecard/arbeidsoppgavecard.module.css
  src/components/blocks/SpacedDetail.tsx
  src/components/blocks/card/Card.tsx
  src/components/blocks/error/CantEditPlanError.tsx
  src/components/blocks/icons/CircledIcon.tsx
  src/components/blocks/icons/icons.module.css
  src/components/blocks/infoboks/InfoBoksWithImageAndButton.tsx
  src/components/blocks/infoboks/infoboks.module.css
  src/components/blocks/spinner/AppSpinner.tsx
  src/components/blocks/stepper/OppfolgingsplanStepper.tsx
  src/components/blocks/testscenarioselector/TestScenarioSelector.tsx
  src/components/blocks/testscenarioselector/testscenarioselector.module.css
  src/components/blocks/wrappers/OppfolgingsplanPageSM.tsx
  src/components/blocks/wrappers/SpacedDiv.tsx
  src/components/blocks/wrappers/SpacedPanel.tsx
  src/components/blocks/wrappers/SykmeldtSide.tsx
  src/components/blocks/wrappers/sykmeldtside/SykmeldtSide.module.css
  src/components/blocks/wrappers/sykmeldtside/SykmeldtSide.tsx
  src/components/landing/OppfolgingsdialogerUtenAktivSykmelding.tsx
  src/components/seplanen/arbeidsoppgaver/ArbeidsoppgaveList.tsx
  src/components/seplanen/sendtilgodkjenning/GodkjennEgenPlanAG.tsx
  src/components/seplanen/sendtilgodkjenning/SendTilGodkjenningToggle.tsx
  src/components/status/godkjentplan/GodkjentPlan.tsx
  src/components/tiltak/LagretTiltak.tsx
  src/components/tiltak/VurderTiltakForm.tsx
  src/pages/sykmeldt/[oppfolgingsdialogId]/index.tsx
  src/pages/sykmeldt/index.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Rewrite to tailwind and CSS Modules part #2
  src/components/arbeidsoppgaver/arbeidsoppgavecard/ArbeidsoppgaveCard.tsx
  src/components/blocks/error/FormErrorSummary.tsx
  src/components/blocks/error/PageError.tsx
  src/components/blocks/error/error.module.css
  src/components/blocks/icons/CircledIcon.tsx
  src/components/blocks/icons/FilledCheckmarkIcon.tsx
  src/components/blocks/icons/FilledCrossIcon.tsx
  src/components/blocks/icons/FilledPlusIcon.tsx
  src/components/blocks/icons/FilledWarningIcon.tsx
  src/components/blocks/icons/IconWrapper.tsx
  src/components/blocks/icons/icons.module.css
  src/components/blocks/infoboks/InfoBoksWithImage.tsx
  src/components/blocks/infoboks/OppfolgingsdialogerInfoPersonvern.tsx
  src/components/blocks/testscenarioselector/TestScenarioSelector.tsx
  src/components/blocks/wrappers/ImageContainer.tsx
  src/components/blocks/wrappers/LightGreyPanel.tsx
  src/components/seplanen/sendtilgodkjenning/SendTilGodkjenningForm.tsx
  src/components/status/SePlan.tsx
  src/components/status/godkjennplansendt/GodkjennPlanSendtInfoBox.tsx
  src/components/tiltak/SlettTiltakButton.tsx
  src/components/tiltak/TiltakFormAG.tsx
  src/components/tiltak/TiltakFormSM.tsx
  src/components/tiltak/TiltakStartSluttDato.tsx
  src/components/tiltak/VurderTiltak.tsx
  src/styles/globals.css
  src/styles/tailwind.css
  tailwind.config.js
Due: prettier --write, eslint --fix --max-warnings=0

Rewrite to tailwind and CSS Modules part #2 (#227)
  src/components/arbeidsoppgaver/arbeidsoppgavecard/ArbeidsoppgaveCard.tsx
  src/components/blocks/error/FormErrorSummary.tsx
  src/components/blocks/error/PageError.tsx
  src/components/blocks/error/error.module.css
  src/components/blocks/icons/CircledIcon.tsx
  src/components/blocks/icons/FilledCheckmarkIcon.tsx
  src/components/blocks/icons/FilledCrossIcon.tsx
  src/components/blocks/icons/FilledPlusIcon.tsx
  src/components/blocks/icons/FilledWarningIcon.tsx
  src/components/blocks/icons/IconWrapper.tsx
  src/components/blocks/icons/icons.module.css
  src/components/blocks/infoboks/InfoBoksWithImage.tsx
  src/components/blocks/infoboks/OppfolgingsdialogerInfoPersonvern.tsx
  src/components/blocks/testscenarioselector/TestScenarioSelector.tsx
  src/components/blocks/wrappers/ImageContainer.tsx
  src/components/blocks/wrappers/LightGreyPanel.tsx
  src/components/seplanen/sendtilgodkjenning/SendTilGodkjenningForm.tsx
  src/components/status/SePlan.tsx
  src/components/status/godkjennplansendt/GodkjennPlanSendtInfoBox.tsx
  src/components/tiltak/SlettTiltakButton.tsx
  src/components/tiltak/TiltakFormAG.tsx
  src/components/tiltak/TiltakFormSM.tsx
  src/components/tiltak/TiltakStartSluttDato.tsx
  src/components/tiltak/VurderTiltak.tsx
  src/styles/globals.css
  src/styles/tailwind.css
  tailwind.config.js
Due: prettier --write, eslint --fix --max-warnings=0

Add min side to breadcrumbs
  .env.development
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  src/components/blocks/breadcrumbs/breadcrumbPaths.ts
  src/environments/publicEnv.ts
Due: eslint --fix --max-warnings=0

Add min side to breadcrumbs (#228)
  .env.development
  nais/envs/.env.demo
  nais/envs/.env.dev
  nais/envs/.env.prod
  src/components/blocks/breadcrumbs/breadcrumbPaths.ts
  src/environments/publicEnv.ts
Due: eslint --fix --max-warnings=0

Remove styled components
  next.config.js
  package-lock.json
  package.json
  src/components/arbeidsoppgaver/ArbeidsoppgaveFormAG.tsx
  src/components/arbeidsoppgaver/ArbeidsoppgaveFormSM.tsx
  src/components/arbeidsoppgaver/SlettArbeidsoppgaveButton.tsx
  src/components/arbeidsoppgaver/VurderingFraSykmeldt.tsx
  src/components/blocks/buttons/NavigationButtons.tsx
  src/components/blocks/dialog/Dialog.tsx
  src/components/blocks/wrappers/Row.tsx
  src/components/landing/opprett/ArbeidsgiverSkjema.tsx
  src/components/landing/opprett/BaserTidligereSkjema.tsx
  src/components/landing/opprett/OpprettModalAG.tsx
  src/components/landing/opprett/OpprettModalSM.tsx
  src/components/seplanen/ContentWrapper.tsx
  src/components/seplanen/OppfolgingsplanCard.tsx
  src/components/seplanen/sendtilgodkjenning/SendTilGodkjenningForm.tsx
  src/components/seplanen/sendtilgodkjenning/SendTilGodkjenningToggle.tsx
  src/components/seplanen/sendtilgodkjenning/TvungenGodkjenningToggle.tsx
  src/components/status/BildeTekstLinje.tsx
  src/components/status/godkjennmottatt/GodkjennPlanMottatt.tsx
  src/components/status/godkjennplanavslattoggodkjent/GodkjennPlanAvslattOgGodkjent.tsx
  src/components/status/godkjennplansendt/GodkjennPlanSendt.tsx
  src/components/status/godkjentplan/DelMedNavOgFastlegeButtons.tsx
  src/components/status/godkjentplan/GodkjentPlan.tsx
  src/components/status/godkjentplanavbrutt/GodkjentPlanAvbrutt.tsx
  src/components/tiltak/LagretTiltak.tsx
  src/components/tiltak/NyKommentar.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Bump @navikt/nav-dekoratoren-moduler
  package-lock.json
  package.json
Due: prettier --write

Remove styled components (#229)
  next.config.js
  package-lock.json
  package.json
  src/components/arbeidsoppgaver/ArbeidsoppgaveFormAG.tsx
  src/components/arbeidsoppgaver/ArbeidsoppgaveFormSM.tsx
  src/components/arbeidsoppgaver/SlettArbeidsoppgaveButton.tsx
  src/components/arbeidsoppgaver/VurderingFraSykmeldt.tsx
  src/components/blocks/buttons/NavigationButtons.tsx
  src/components/blocks/dialog/Dialog.tsx
  src/components/blocks/wrappers/Row.tsx
  src/components/landing/opprett/ArbeidsgiverSkjema.tsx
  src/components/landing/opprett/BaserTidligereSkjema.tsx
  src/components/landing/opprett/OpprettModalAG.tsx
  src/components/landing/opprett/OpprettModalSM.tsx
  src/components/seplanen/ContentWrapper.tsx
  src/components/seplanen/OppfolgingsplanCard.tsx
  src/components/seplanen/sendtilgodkjenning/SendTilGodkjenningForm.tsx
  src/components/seplanen/sendtilgodkjenning/SendTilGodkjenningToggle.tsx
  src/components/seplanen/sendtilgodkjenning/TvungenGodkjenningToggle.tsx
  src/components/status/BildeTekstLinje.tsx
  src/components/status/godkjennmottatt/GodkjennPlanMottatt.tsx
  src/components/status/godkjennplanavslattoggodkjent/GodkjennPlanAvslattOgGodkjent.tsx
  src/components/status/godkjennplansendt/GodkjennPlanSendt.tsx
  src/components/status/godkjentplan/DelMedNavOgFastlegeButtons.tsx
  src/components/status/godkjentplan/GodkjentPlan.tsx
  src/components/status/godkjentplanavbrutt/GodkjentPlanAvbrutt.tsx
  src/components/tiltak/LagretTiltak.tsx
  src/components/tiltak/NyKommentar.tsx
Due: prettier --write, eslint --fix --max-warnings=0

Bump @navikt/nav-dekoratoren-moduler (#230)
  package-lock.json
  package.json
Due: prettier --write

Revert @navikt/nav-dekoratoren-moduler
  package-lock.json
  package.json
Due: prettier --write

Revert @navikt/nav-dekoratoren-moduler (#231)
  package-lock.json
  package.json
Due: prettier --write

Fix main
  package-lock.json
  package.json
Due: prettier --write

Fix main (#232)
  package-lock.json
  package.json
Due: prettier --write

wip
  src/components/blocks/skeleton/OPSkeleton.tsx
  src/components/blocks/wrappers/sykmeldtside/SykmeldtSide.tsx
  src/pages/sykmeldt/index.tsx
Due: eslint --fix --max-warnings=0

wip
  src/components/blocks/buttons/NavigationButtons.tsx
  src/components/blocks/wrappers/OppfolgingsplanPageSM.tsx
  src/components/blocks/wrappers/oppfolgingsplanpagesm/OppfolgingsplanPageContentSM.tsx
  src/components/blocks/wrappers/oppfolgingsplanpagesm/OppfolgingsplanPageSM.tsx
  src/pages/_app.tsx
  src/pages/sykmeldt/[oppfolgingsdialogId]/arbeidsoppgaver.tsx
  src/pages/sykmeldt/[oppfolgingsdialogId]/seplanen.tsx
  src/pages/sykmeldt/[oppfolgingsdialogId]/tiltak.tsx
  src/server/data/mock/defaultData/oppfolgingsplanservice/defaultSykmeldingerMockData.ts
  src/server/data/mock/defaultData/oppfolgingsplanservice/defaultVirksomhetMockData.ts
  src/utils/oppfolgingplanUtils.ts
Due: eslint --fix --max-warnings=0

wip
  src/pages/sykmeldt/[oppfolgingsdialogId]/index.tsx
Due: eslint --fix --max-warnings=0

wip
  src/pages/sykmeldt/index.tsx
Due: eslint --fix --max-warnings=0

wip
  src/components/blocks/wrappers/ArbeidsgiverSide.tsx
  src/pages/arbeidsgiver/[narmestelederid]/[oppfolgingsdialogId]/tiltak.tsx
Due: eslint --fix --max-warnings=0

Arbeidsgiverstuff
  src/components/blocks/wrappers/ArbeidsgiverSide.tsx
  src/components/blocks/wrappers/OppfolgingsplanPageAG.tsx
  src/components/blocks/wrappers/oppfolgingsplanpageag/OppfolgingsplanPageAG.tsx
  src/components/blocks/wrappers/oppfolgingsplanpageag/OppfolgingsplanPageContentAG.tsx
  src/pages/arbeidsgiver/[narmestelederid]/[oppfolgingsdialogId]/arbeidsoppgaver.tsx
  src/pages/arbeidsgiver/[narmestelederid]/[oppfolgingsdialogId]/seplanen.tsx
  src/pages/arbeidsgiver/[narmestelederid]/[oppfolgingsdialogId]/tiltak.tsx
Due: eslint --fix --max-warnings=0

Arbeidsgiverstuff 2
  src/pages/arbeidsgiver/[narmestelederid]/[oppfolgingsdialogId]/index.tsx
  src/pages/arbeidsgiver/[narmestelederid]/index.tsx
Due: eslint --fix --max-warnings=0
